[2015-01-11 22:47] ilanbiala opened #2 "Changelog"
Can we get a changelog put together for this package?

[2015-01-12 08:18] simov commented on #2
Hi @ilanbiala , thanks for reminding me about this one.

I just added notes about the last two releases here https://github.com/simov/grant/releases

There is only one breaking change in the latest **major** release, that is about the OAuth response data format returned by Grant.

Other than that you should really switch to the latest release, as the previous ones had various bugs in them.

Also I

[2015-02-16 00:14] kapouer opened #5 "use peerDependencies instead of dependencies for express, koa, ..."
You actually do not want to install express, for example - but peerDependencies allows one to check the installed version of express is compatible.

[2015-02-16 07:41] simov commented on #5
Hi, @kapouer thanks for suggesting this. I have never used `peerDependencies` so far, but I agree that Grant can't be used without it's host modules. I'll consider using this option.

[2015-02-22 19:42] simov commented on #5
I did some testing with `peerDependencies` and I don't think they quite work for this case.

Currently I use Grant in project that uses express version `3.4.4` and it works without a problem. In case of a peer dependency I won't be able to install Grant if the peer dependency is set to `4.x`. On the other hand I really do need to specify express 4.x because that's what I'm testing against.

Same f

[2015-03-14 20:59] fundon opened #7 "Splits koa express hapi"
Use family name:
- `grant-koa`
- `grant-express`
-...

The `grant` just is a core oauth engine.

[2015-03-14 21:14] simov commented on #7
I know, and you're right, I'm still thinking about it. From a maintenance point of view it's easier for me to have everything in one place, because each separate consumer (express, koa and hapi) is a single file anyway, so I can keep them and their (consumer) tests in sync more easily.

Right now the only problem I'm seeing is that you have to download all of the dependencies for all of the 3 avai

[2015-03-14 21:41] simov commented on #7
@fundon I think I'm getting your point, I can still keep the entire code base in one place, but I can create 3 separate meta modules, just for holding their dependencies :+1:

[2015-03-14 22:47] simov commented on #7
Just released version 3.0.0 https://github.com/simov/grant/releases/tag/3.0.0

[2015-03-14 22:47] #7 closed

[2015-03-14 22:49] simov commented on #5
@kapouer this should be fixed in https://github.com/simov/grant/releases/tag/3.0.0 or at least that way you'll get only the modules required for your web framework of choice.

[2015-03-14 22:49] #5 closed

[2015-03-14 22:51] simov commented on #2
Still no _real_ changelog, the next major release is here https://github.com/simov/grant/releases/tag/3.0.0 check it out for braking changes!

[2015-03-14 22:53] kapouer commented on #5
perfect !

[2015-03-15 05:37] fundon commented on #7
Nice :+1:

[2015-03-17 14:06] slaskis opened #8 "New koa consumer module fail to load"
I think you're doing the right thing to split the consumers out of the main module but because I don't have express in my app it fails to load express when I require `grant-koa` because all consumers are required in `index.js`.

Perhaps they should be split into separate repositories with separate tests, so they're tested more like they will be used instead?

[2015-03-17 14:24] simov commented on #8
You are correct I left the `express` require for backward compatibility with version 1.x I'll remove it.

[2015-03-17 14:32] simov commented on #8
@slaskis version 3.0.2 was just released https://www.npmjs.com/package/grant

Thanks for reporting this bug!

As for why I'm keeping the code in one place read this comment https://github.com/simov/grant/issues/7#issuecomment-80721036

[2015-03-17 14:32] #8 closed

[2015-03-17 16:27] slaskis commented on #8
That was quick, thanks!

[2015-03-31 08:12] bitinn opened #9 "Bump koa dependencies"
Is there a repo for `grant-koa`, the meta package locked `koa-session` to 3.0.0 and it throws errors when used with 3.1.0

Having meta package also lead to a few problems: we can't contribute easily or debug package (ie. temporally fork the repo and set package.json to use `forked/grant`)

[2015-03-31 08:19] bitinn opened #10 "Feature Request: Using grant as a middleware"
Looking at the koa consumer: https://github.com/simov/grant/blob/master/lib/consumer/koa.js

It seems this is essentially a wrapper for koa middleware, it would be great if we can use grant as a middleware (attach onto koa `this` context maybe), instead of mounting it as a koa app.

This avoid dependency problem mentioned in #9 and make it a lot more flexible when used with various session backend

[2015-03-31 09:57] bitinn opened #11 "Order of app.use(mount(grant)) and app.use(router(app))"
It seems if I do it in this order:

[code]

Then on my final callback, eg. `/handle_oauth_response` route, `ctx.params` is not populated.

If I do it in reversed order, eg.

[code]

Then things are fine, I can get `/login/:provider` as `ctx.params.provider`.

I haven't had the chance to look at it more closely, could be an incompatibility between `koa-router` v4 and v3 (I am using v4, grant-koa is

[2015-03-31 10:34] simov commented on #9
Currently there is no separate repositories for the meta packages as they contain only 4 files in them

[code]

I agree that separate repository will make it easier to point the dependency to your own fork.

As for breaking changes between 3.0.0 and 3.1.0 that's very unfortunate, because it's not a major release, but it happens.

[2015-03-31 10:35] simov commented on #10
What you are looking at is in fact a middleware. Can you give me a short code example showing what are the other possible options to define a middleware?

[2015-03-31 10:38] simov commented on #11
I should probably switch to some routing module from the koajs org instead, as they are probably maintaining them together. Though if I can remember correctly koa-router was given as optional module for routing in the official router module in koajs org.

[2015-03-31 16:33] bitinn commented on #10
I mean avoid having to do `mount`.

With `mount` you are essentially wrapping oauth into it's own koa app, and since it's a koa app, it comes with koa module dependencies, and creating problems for project that use a different session solution, or even just a different version of the same module.

It would be more flexible to transform koa `this` context alone, and leave router and session managem

[2015-03-31 16:35] bitinn commented on #11
`koa-router` is possibly the popular choice. Though I think the underlying solution is to make grant independent of specific routing system. eg. #10

[2015-03-31 16:38] bitinn commented on #9
Seems like `koa-session` specifically design 3.1.0 to make it backward compatibility, maybe he missed an edge case somewhere. I reverted to 3.0.0 for time being, will report back when I got time to checkout 3.1.0

[2015-03-31 16:54] bitinn commented on #9
OK, looks like this is also triggered by app.use ordering:

This works

[code]

But not this

[code]

Maybe update doc to avoid this mishap?

The error is likely due to `this._ctx.sessionOptions` being empty when cookie is set by 3.0 first.

[code]

[2015-04-01 08:32] simov commented on #10
@bitinn check out this commit https://github.com/simov/grant/commit/920480633cdb221c6c73da9fbda9e29d4de2b5fb

The Koa middleware no longer require specific session store to use, **but** it is required to use one and set it before mounting grant.

I tested it with a bunch of session store modules here https://github.com/simov/grant/tree/master/example/koa-session

I'll update the docs prior releasi

[2015-04-01 08:33] simov commented on #9
Closing in favor of https://github.com/simov/grant/issues/10

[2015-04-01 08:33] #9 closed

[2015-04-01 08:33] simov commented on #11
Closing in favor of https://github.com/simov/grant/issues/10

[2015-04-01 08:33] #11 closed

[2015-04-01 10:45] simov commented on #10
@bitinn check out this commit https://github.com/simov/grant/commit/908b9a833f742a7a6b525d343a60369813106b6e

The Koa middleware no longer depends on koa-router, so you can mount it in your app wherever you want. I'll let you know when the new release is out.

[2015-04-01 10:56] bitinn commented on #10
Thx, i will get to test it soon :)

[2015-04-02 11:13] simov commented on #10
@bitinn version 3.0.3 is published on NPM. Thanks for the feedback :+1:

[2015-04-02 11:13] #10 closed

[2015-04-07 03:44] bitinn opened #12 "Alternative on transporting access token"
Currently the design is to do another redirect with GET, where querystring contains the access token. 2 things of this approach concerns me:

1. For oauth 1, this can potentially be abused as we expose a GET route that have side-effects. Unlike oauth 2, access token does not expire, which makes it plausible through CSRF.

2. This approach means extra security consideration are needed, for example

[2015-04-07 04:03] bitinn commented on #12
Another thing is we are already using session for the oauth process anyway, especially for the `state`.

[2015-04-07 04:12] bitinn opened #13 "Set state by default?"
Now that I think of it, we should just generated random `state` by default, right? This is the secure approach and grant is already using session (which it might as well use to store `state`).

Any reason for us to do a dynamic overwrite manually?

[2015-04-07 04:33] simov commented on #12
I think that's doable. I'm thinking about introducing a new option under the `server` key of the configuration called `transport` which can be set to either `session` or `querystring`, defaulting to querystring.

[2015-04-07 05:05] bitinn commented on #12
@simov i am fine with that, thx for looking into it!

[2015-04-07 05:13] simov commented on #13
The `state` parameter is optional for most of the providers, but I agree that the dynamic override approach is required to set the state, as setting up the state in the json configuration doesn't make sense. I'll think about adding this feature as an option, thanks for suggesting it :+1:

[2015-04-07 13:51] simov commented on #12
@bitinn I just added support for session transport type (you can check out the last 2 commits if you want)

So if you set `transport:'session'` in your server configuration, you'll receive the response data in `req.session.grant.response` exactly the same as what you receive in `req.query` in the other case, and of course the final callback route is clean (no querystring in it)

I'll let you know

[2015-04-07 16:06] bitinn commented on #12
Looks good, i am ready to try it out when it lands :+1:

[2015-04-08 14:47] simov commented on #13
@bitinn I just pushed the auto generated state here https://github.com/simov/grant/commit/e7d25e4080cd443d1089f2821ce83ea99f2da21b

If you set the state through the json configuration or through dynamic override, that state probably would be either string or number type. In these cases that will be the state used, any other falsy value means no state.

However if you set the `state` to `true` in y

[2015-04-10 05:56] bitinn commented on #13
@simov just a note to make sure you are aware of `koa` and `koa-bodyparser` versions, both just got bumped again.

I am not sure what's the best approach here, but given how fast koa and its core middlewares evolves, a strict dependency on them is probably not what you want.

I believe we can't use `npm shrinkwrap` to workaround this neither, because it only works if the my app require a lower ver

[2015-04-10 13:09] simov commented on #13
@bitinn is there a real problem with that? Take a look at this example https://github.com/simov/grant/blob/master/example/koa/package.json currently the consumer app is using 0.14 and grant-koa is using 0.18.1 same for the body-parser middleware - the versions are different. Still the app seems to be working, but that's a really simple example, that's why I'm asking about any potential problems wi

[2015-04-10 15:28] bitinn commented on #13
@simov probably not, other than unmet dependency warning during `npm install`

say you have a koa app using latest koa and bodyparser:

[code]

[2015-04-10 15:49] simov commented on #13
Interestingly enough I'm not getting that warning with node 0.12.2 and the above example.

Other than that the solution would be to use `peerDependencies` like this

[code]

or I can just leave the version number a bit more relaxed.

I'm really not sure how Koa implements the mounting, but with Express I can have express 3.x app that mounts grant with express 4.x app and middlewares in it without

[2015-04-10 16:08] bitinn commented on #13
`npm install` won't give unmet dependency error if it can find a version meeting both `grant-koa` and my koa app's requirement.

But my app set koa dependency as `koa: 0.19.0`, a strict version, causing npm failing to find a release that satisfy both my app and `grant-koa`.

You can imagine some developers doing this before they ship to production server, or when they specifically try to avoid a b

[2015-04-10 16:25] simov commented on #13
Ok, I'll figure out something, but still I'm not sure how you get that warning. Can you experiment with this example https://github.com/simov/grant/tree/master/example/koa

As you can see currently there are older versions set than the ones used in grant-koa (that's the first test) Then I removed node_modules all together and set the latest versions in the package.json for that app. The result was

[2015-04-10 16:33] bitinn commented on #13
@simov Thx for looking into it, I will try and report back in the weekend, it's now well after midnight on my side :)

[2015-04-11 09:17] bitinn commented on #13
Ah I may have identified the problem, it would appear that when upgrading or installing grant-koa `3.0.3`, npm only installed `koa-route`, `grant` and `thunkify` packages, leaving dependency of `koa` and `koa-bodyparser` to my app's node_modules, thus the `unmet dependency` errors.

[code]

Appear to fix this problem, I am not sure about the exact steps to reproduce it, but at least I now know it'

[2015-04-11 13:58] simov commented on #13
That makes sense, I've seen this warning before.

As I mentioned a few comments back, there are two available options, but I'm still wondering which one would be better

[code]

[code]

[2015-04-11 15:21] bitinn commented on #13
@simov If you don't use any specific features of koa, other than some general routing, then a relaxed `peerDependencies` might just be good for `grant-koa`.

But, if you want better control of `koa` and `koa-route` dependency, then you should use `dependencies`, because unlike other koa middleware, your `grant-koa` is a koa app itself, so you actually make use of `koa`, unlike in `peerDependencies

[2015-04-14 14:55] simov commented on #12
Version 3.1.0 is published on NPM [changelog](https://github.com/simov/grant/blob/master/CHANGELOG.md)

[2015-04-14 14:55] #12 closed

[2015-04-14 14:56] simov commented on #13
Version 3.1.0 is published on NPM [changelog](https://github.com/simov/grant/blob/master/CHANGELOG.md)

For now I'm using relaxed dependencies for the koa-middleware, like this

[code]

[2015-04-14 14:56] #13 closed

[2015-04-14 14:57] simov commented on #2
@ilanbiala [changelog](https://github.com/simov/grant/blob/master/CHANGELOG.md) :tada:

[2015-04-14 14:57] #2 closed

[2015-04-17 23:07] cesarandreu opened #15 "Allow custom providers"
Any plans on allowing custom providers?

In config.init you could merge the passed in options into the result.

[2015-04-18 06:41] simov commented on #15
I think that's doable, although you'll have to add every provider option by yourself in this case. I'm giving you example:

[code]

And these are currently not documented, but I can add some docs for them too. Without these options your custom provider won't work.

[2015-04-19 18:26] MarcMcIntosh opened #16 "using grant locally."
ha any one manged to get this to work locally?

I've tried the following with varying levels of failure:
make domain name /etc/hosts and use that, which all most worked (URL issues),
use "http:/localhost:8000/connect/github" sort ofworked with some but not offten.
use "http://127.0.0.1:8000/connect/github" much the same no auth.

Tried the examples... got much the same results.
would using a domai

[2015-04-19 20:50] simov commented on #16
Hi @MarcMcIntosh take a look at this [article](https://scotch.io/tutorials/implement-oauth-into-your-express-koa-or-hapi-applications-using-grant) that I wrote about Grant. There you can find more detailed information about how to use it.

[2015-04-19 21:08] MarcMcIntosh commented on #16
That was you?... nice, I've already read through it though... if i recall right some of the errors i got were.

 provider.protocol = options.protocol||config.server.protocol
                                                                              ^
TypeError: Cannot read property 'protocol' of undefined

And face book saying that i was using an unauthorised url.... along with no redirect afte

[2015-04-19 21:30] simov commented on #16
If you take the most basic [example](https://github.com/simov/grant/tree/master/example/express) all you need to do to configure Facebook is to set your app like [this](https://cask.scotch.io/2015/02/fb6.png), the App ID and App Secret is what you paste in the config.json file as key and secret for Facebook. Ofc you have to add `dummy.com 127.0.0.1` to your `hosts` file too, that's all.

[2015-04-19 21:36] simov commented on #16
Specifically Facebook allows `http://localhost:3000` to be set as Site URL (which refers to the redirect URL) So if you set `http://localhost:3000` in your Facebook app you will be able to initiate the flow from localhost from your web site like this `http://localhost:3000/connect/facebook`

Some providers doesn't allow `localhost` for redirect URL, that's why all of the examples are using `dummy.

[2015-04-19 22:42] MarcMcIntosh commented on #16
ohh, that explains alot...
thanks :)

[2015-04-20 00:25] cesarandreu commented on #15
I know you'd have to add those extra fields.

In the meantime I just used one of the existing providers and overwrote the values:

[code]

A bit hacky, but it works :D.

[2015-04-20 05:14] simov commented on #15
That actually reminds me of something else that I can add, also I'm going to implement this feature in the next few days :+1:

[2015-04-23 08:56] simov commented on #15
Just published v3.2.0 there you can have [custom provider](https://github.com/simov/grant#custom-providers) configuration.

[2015-04-23 08:56] #15 closed

[2015-04-23 08:57] simov commented on #16
No problem, I'm closing this issue.

[2015-04-23 08:57] #16 closed

[2015-05-03 23:02] darkoverlordofdata opened #17 "Invalid cookie value with Hapi"
I get this error from grant when using with hapi:
{"statusCode":400,"error":"Bad Request","message":"Invalid cookie value"}

So I tried the examples in the git repo. The express example works as expected, and I can log into facebook with no issues.
The hapi example gets the same error (above) as my code. I'm using a copy of the same config file with both examples.
I'm using this url to test both:

[2015-05-04 05:29] darkoverlordofdata commented on #17
I was able to get this to work by using the http://127.0.1.1:3000, localhost is mapped to 127.0.0.1, so:

So this works: http://127.0.1.1:3000/connect/facebook
This fails:        http://127.0.0.1:3000/connect/facebook

Why? This makes me nervous about using this in production because it makes no sense. How to I predict or correct this failure? The express examples (as well as my other express proj

[2015-05-04 05:52] darkoverlordofdata commented on #17
Interesting article - https://lists.debian.org/debian-devel/2013/07/msg00809.html
it would appear that I learned something new today, and hapi follows a standard that not everyone does.

[2015-05-04 05:52] #17 closed

[2015-05-05 18:31] Shaunakde opened #18 "Google authentication issue"
I am using Grant for OAuth2 authentication with google in my express app. I supplied all the parameters in the config.json :
[code]
But it still refuses to send all the parameters. I get a "client_id" not sent error:
[code]

I modified the library to print out the URL and this is indeed the case:
[code]
I did manage to get the first step to work once, by some permutation, but then it failed on cli

[2015-05-05 18:52] Shaunakde commented on #18
Investigating further I see that the client_id is undefined in Oauth2.js line 28
[code]

[2015-05-05 19:33] Shaunakde commented on #18
#Update
I got it to start to work by doing the following:

[code]

But now I face this error:
[code]

[2015-05-05 19:34] simov commented on #18
Grant doesn't use `client_id` nor `client_secret` you should set them as just `key` and `secret`

[2015-05-05 19:35] Shaunakde commented on #18
@simov - thanks for the update. Just out of curiosity, does grant work by reading generic keys like "secret" and formatting to the correct URL according to the provider? I am going through the source and am very keen to understand.

Thank you so much.

[2015-05-05 19:39] simov commented on #18
Yes. Now that I'm seeing how you configure it, I should enable the `client_id` and `client_secret` keys as well.

Btw you need just this configuration, you don't have to specify all of the parameters by yourself.

[code]

[2015-05-05 19:42] Shaunakde commented on #18
@simov  Thanks for the update. I have got it to work at my end as well. Here is my configuration (probably full of redundancies):
[code]
and this is the response:
[code]

Curiously, I had to re-fresh the secret to get it to work.

Thanks for the help.

[2015-05-05 19:49] simov commented on #18
No problem. Thanks for the feedback on how you got it working. As I said, to prevent further annoyances, I'll add the original keys for key and secret in the next release. Closing :+1:

[2015-05-05 19:49] #18 closed

[2015-05-17 19:47] simov commented on #5
@kapouer checkout the latest changelog here https://github.com/simov/grant/blob/master/CHANGELOG.md - express, koa and hapi are set as peerDependencies in their respective meta modules, also session and body-parser middlewares are no longer required internally, so the user is free to use any session store.

[2015-05-17 19:49] simov commented on #7
@fundon check out the latest changelog here https://github.com/simov/grant/blob/master/CHANGELOG.md now Grant is even more loosely coupled with its dependencies allowing you to use any session store you want.

[2015-05-17 19:50] simov commented on #9
@bitinn check out the latest changelog https://github.com/simov/grant/blob/master/CHANGELOG.md - it's not entirely related to Koa, but I'm sure you'll like it :)

[2015-05-17 20:21] bitinn commented on #9
@simov thx for the heads up, looks great! been using v3.2.0 in one of my project and so far so good, will upgrade to v3.3.0 soonish.

[2015-06-09 20:00] kvslee opened #19 "Client Credential grant_type"
Great awesome library! Does Grant-Express handle Client Credential grant type (without authorization code). If so, can I find how to set it up?

In config.json, I set it up:
[code]
Thanks.

[2015-06-09 21:05] simov commented on #19
Currently Grant supports only 3-legged server side flow. You can use the [request](https://github.com/request/request) module for `grant_type: 'client_credentials'`. Here is example for Twitter:

[code]

Let me know if it works for you.

[2015-06-09 23:02] kvslee commented on #19
Thanks for your quick answer. I could successfully receive access_token with Request.

Simeon, I find that you are the author of Purest, which also uses request.  So, when I use Purest, I can pass the access_code like this.

[code]

[2015-06-10 07:15] simov commented on #19
Yep, this is how you pass your credentials using the query API in Purest.

Let me know if you have any problems. Also I'll think about adding this type of flow. Closing this issue for now.

[2015-06-12 21:38] kvslee commented on #19
Yes, adding 'client credentials' grant type would be awesome. I like your library because it structures API providers with endpoints. API request codes looks much cleaner.

[2015-06-14 19:18] simov commented on #19
@kvslee I think adding support for `grant_type:client_credentials` will introduce security issue with the current implementation. If you are going to use this type of flow on your web server, you want to have some logic to ensure that the user is authorized to make such request.

Besides that I changed a few things in Purest (currently not on NPM), and actually I introduced a breaking change regar

[2015-06-16 03:58] kvslee commented on #19
@simov I did not realize that I could use Purest to do client_credentials.Thanks for the example. And it is also nice to see that you added refresh_token grant type. I like the fact that oauth endpoint can be defined in the provider configuration. Are you going to publish the updates into NPM soon?

[2015-06-16 04:06] simov commented on #19
Yes I'm going to release the new version soon, in about 2 days at most.

[2015-06-16 11:42] simov commented on #19
@kvslee I just released version 1.2.0 of Purest, here is the [changelog](https://github.com/simov/purest/blob/master/CHANGELOG.md).

If you have any other issues regarding Purest, address them there.

Thanks for the feedback :+1:

[2015-06-16 11:42] #19 closed

[2015-06-24 15:26] zhiyelee opened #20 "koa-grant: How to get the user info from session"
I want to find a way to get the user info from the session after login.

For example:

[code]

Seems I can't add a new property to session in the `/handle_provider_callback`, so I don't how to connect  the special session with the db item (I want to store users in my db). Do you have any idea?

Thank you.

[2015-06-25 09:16] simov commented on #20
I'm not sure that I understand your exact scenario, but here is what you can do - just store the access token somewhere in your database and link it to your user data.

[2015-06-25 13:47] zhiyelee commented on #20
@simov thank you.

What i want to do is, eg

* user login with a provider, like github
* `/connect/github/callback`  // seems grant set session here.
* `/handle_github_callback`  // I want to fetch and store user info here, for example link session with access token.

After the above step, the login user access `/demo` page, then how can I get the user info from DB, as far as i known, the `this.se

[2015-06-25 15:27] simov commented on #20
By default Grant returns the result data from the OAuth flow as a querystring, that's why you see only a meta data in the session that's used internally by Grant during the OAuth flow.

If you want the result data returned in the session instead, you have to set `transport:'session'` under the `server` key in your configuration, take a look at the [configuration docs](https://github.com/simov/gran

[2015-06-25 15:36] zhiyelee commented on #20
@simov That make sense to me. Thank you a lot!!

[2015-06-25 15:36] #20 closed

[2015-07-16 12:06] gagoman opened #21 "Add note that `callback` option is unused"
`redirect_uri` is built at https://github.com/simov/grant/blob/master/lib/utils.js#L6

So we cannot override callback.

Am I wrong?

Thx.

[2015-07-16 13:27] simov commented on #21
The `redirect_uri` is what you specify as redirect uri in your OAuth application. That route should always have [this format](https://github.com/simov/grant#redirect-url) and it is used internally by Grant.

The `callback` option contains the final route where you get the results from the OAuth flow. Grant redirects you there after the `redirect_uri` was being hit. The reason for this is because b

[2015-07-16 13:29] gagoman commented on #21
Got it!

I'll read more about `OAuth 2`

Thx.

[2015-07-16 13:29] #21 closed

[2015-07-17 13:28] hiroqn opened #22 "some time throw error /connect/:provider/callback"
With Koa
when access /connect/:provider/callback directory,  `this.session.grant` is undefined so throw error

[code]

[2015-07-21 12:20] vital101 opened #25 "GitHub Oauth: redirect_uri_mismatch"
I've been having some issues getting GitHub oauth working with Grant.  I already have BitBucket Oauth set up correctly, so I'm using the library correctly.  My setup:

__GitHub__
My callback URL in GitHub is set to http://local-kernl.com/api/v1/oauth/github/

local-kernl.com is an entry in my /etc/hosts file that directs the user to a virtual machine (vagrant) with Nginx installed.  Nginx then act

[2015-07-21 12:44] simov commented on #25
For [redirect_uri](https://github.com/simov/grant#redirect-url) of your *OAuth application* you should always use this format:

[code]

The path you set in the `callback` key of your Grant config, is the final route where you get the results. Grant redirects you there after hitting the `/connect/:provider/callback` route that is specified in your OAuth application.

[2015-07-22 11:44] vital101 commented on #25
Thank you, this was the issue.

[2015-07-22 11:44] #25 closed

[2015-07-26 18:58] FalloutX opened #26 "Oauth callback comes with empty object {}"
I am a bit new to Hapi, and may be its just a config issue but I am not able to set up google auth in my service with grant.

__Config__
[code]

__Server.js__
[code]

And This is response in the server.
[code]

As you can see, /handle_google_callback is not getting anything in response.
Can you please spot the issue?

[2015-07-26 19:01] FalloutX commented on #26
But the thing is the /connect/google/callback is getting data and /handle_google_callback is not getting the data is little wierd.

[2015-07-26 19:16] FalloutX commented on #26
Oh. I Got it. It was silly,

I was using "transport": "session" in my grantconfig, but I was checking for access_token in queryString.

So TIL,
If "transport" : "session" , then access_token is availale in request.session,
and if "transport": "queryString", then access_token is available in request.query.

[2015-07-26 19:16] #26 closed

[2015-07-26 19:50] simov commented on #26
Yes, I'm mentioning that in the [Response Data](https://github.com/simov/grant#response-data) section. Using session is generally better because the credentials are not printed in the server's logs that way.

[2015-08-02 11:55] ds0nt opened #28 "Food for thought"
Not so much an issue: I just saw this config.json from microsoft azure cloud service video.

Here it is:

![screenshot_2015-08-02_18-48-51](https://cloud.githubusercontent.com/assets/1015732/9025994/c8e670fa-3947-11e5-9fdf-2a12ef81aac9.png)

Due to the nature of where I found this video, I feel I must explain myself. I was re-evaluating freedom-clouddom, and was forgiving video as a medium of what

[2015-08-02 12:54] simov commented on #28
I don't understand what are you saying. Can you structure your question/comment into separate sentences and try to explain your thoughts in more details?

Also I don't see how the above configuration is related to this module. If you are looking for a generic REST API client library, check out [Purest](https://github.com/simov/purest).

[2015-08-02 16:48] ds0nt commented on #28
Hey, sorry about that.

I thought you might find it interesting to see an azure configuration file interesting for another perspective/semantic.

*Right, like who wouldnt?*

Thanks, yeah purest is the *thing in my head that gets confused with grant, because I have actually used neither, however when combined, bestow integration superpowers in ds0nt-theory*

But anyways, I just contributing a bit o

[2015-08-02 16:49] ds0nt commented on #28
for comparison, betterment, and such.

[2015-08-02 17:08] simov commented on #28
That's fine, I just really couldn't figure out your point at first. My best bet was about the REST API client library because I saw `endpoints` key in the screenshot.

Grant is concerned only with the `authorization_code` grant type (and OAuth1.0), that's the flow that requires user interaction and a session store on your server. Grant also allows you to use any of the major web frameworks in Node

[2015-08-05 02:41] ds0nt commented on #28
So how difficult would it be to recreate zapier, let me pull out some ideas I had way back when...

[2015-08-05 02:43] ds0nt commented on #28
These are some old ideas I still am a bit fond of. :) Any thoughts?

![api diagram](https://cloud.githubusercontent.com/assets/1015732/9077271/6da685fc-3b56-11e5-8aea-d11a12fd6ede.jpg)
![api diagram2](https://cloud.githubusercontent.com/assets/1015732/9077272/6e995b7e-3b56-11e5-9298-ef4bda3ad74f.jpg)

[2015-08-05 02:47] ds0nt commented on #28
"Easy" ways to monetize include... *slaps former self* wrong! not easy!

[2015-08-05 05:48] simov commented on #28
I got your point with these diagrams. Grant and Purest are built exactly for such cases, but they are on a very low level of a complete system.

From the diagram above:

That's the first step. Purest's main design goal is exactly that - to *help* you built such interfaces more easily. You can take a look at the [social](https://github.com/simov/purest/tree/master/examples/social), [mail](https://g

[2015-08-17 03:17] #28 closed

[2015-08-24 12:54] nojhamster opened #29 "Can't use reserved words as custom parameters"
Some providers have custom parameters that can't be provided because they are reserved. Typically, Trello has a `name` parameter that is used to show the application name on the authentication page. It would be nice to be able to use reserved words as custom parameters.

[2015-08-24 19:16] simov commented on #29
Closed via https://github.com/simov/grant/commit/6509568a7f8c33ebd3c27c78ece901261cab330d

[2015-08-24 19:16] #29 closed

[2015-08-25 08:34] simov commented on #22
Closed via https://github.com/simov/grant/commit/b85097a80991d9e994744a0de71279029a28fd85

[2015-08-25 08:34] #22 closed

[2015-08-30 19:42] marcelklehr opened #31 "Github oauth: redirect_ui mismatch"
Hey,

I'm using grant for github auth in my app and the redirect uri seems to equal `myapp.com/connect/github/callback&state=` instead of `myapp.com/connect/github/callback`.

Here's my config:

[code]

[2015-08-30 20:14] simov commented on #31
It should be `host:'myapp.org'`.

Here is what I have set up for `Authorization callback URL` of my OAuth app here on GitHub (for the [OAuth Playground](https://grant-oauth.herokuapp.com)):

[code]

Then in my config I have:

[code]

[2015-08-31 15:07] marcelklehr commented on #31
ah, works now. Thank you!

[2015-08-31 15:07] #31 closed

[2015-08-31 15:40] marcelklehr commented on #31
Awesome project by the way!

[2015-08-31 15:53] simov commented on #31
Thanks :+1:

[2015-09-21 13:07] quirinpa opened #32 "Facebook: The parameter app_id is required"
It happens when i try to connect to facebook. Probably due to recent updates?

[2015-09-21 14:35] simov commented on #32
Post your configuration here, it works on my end.

[2015-09-21 15:00] quirinpa commented on #32
[code]
I probably should have experimented a bit more but i'm on a tight schedule i apologize.

[2015-09-21 15:10] simov commented on #32
Your configuration looks correct. I'm not able to reproduce the bug. Can you try with [this example](https://github.com/simov/grant/tree/master/example/express)? Just follow the instructions, if that works for you, then the problem is somewhere in your code.

[2015-09-23 05:26] simov commented on #32
Let me know if you have any other issues.

[2015-09-23 05:26] #32 closed

[2015-09-23 08:45] quirinpa commented on #32
Sorry @simov i'll try to do it when i can and i'll keep you posted.

[2015-09-24 16:57] JoeMcMahon87 opened #33 "Problems with Yahoo"
I'm using Node and Express 3 and tried the following:

[code]

When I hit the [host]/connect/yahoo URL, I get the following:
[code]

When I try the same consumer key and secret on the OAuth Playground app on your Heroku instance, with the Yahoo provider, it works fine.

[2015-09-24 17:21] simov commented on #33
That's very weird. Can you try with the Express [example](https://github.com/simov/grant/tree/master/example/express)? Also the `callback` in your configuration should be something like `/handle_yahoo_callback` check out the example code.

[2015-09-24 19:13] JoeMcMahon87 commented on #33
So the express example works for Twitter (didn't try Facebook).  I added a config entry for Yahoo with a fresh set of keys/secrets and a handler in app.js and I get the same error.  I am using the callback as ```/handle_yahoo_callback```

[2015-09-24 20:28] simov commented on #33
Double check if you copy/pasted your consumer_key correctly from Yahoo. That's really weird I can't figure out what the problem might be in case it works with the showcase app. Search in Google for something like `yahoo oauth consumer_key_unknown` it might be something on their end.

[2015-09-25 11:53] dominiksteiner opened #34 "adding concur provider"
A colleague created a fork in order to add concur as a provider to grant.

https://github.com/simov/grant/compare/master...szafarcin:master

Wondering if there is a best practice on how to add new providers to grant? Can you assess the above fork on how practical it would be to merge it back into grant?

Thanks

[2015-09-25 12:30] simov commented on #34
Hi, @dominiksteiner, thanks for reaching out. I noticed that fork, and I'll take a look at it these days :+1:

Generally adding a new provider is just a matter of adding a configuration in the `config/oauth.json`. The amount of other changes needed depends on how much exactly the provider in question deviates from the official OAuth specification.

---

On a side note: having configuration like `g

[2015-09-25 14:25] simov commented on #34
There you go https://github.com/simov/grant/commit/2ecc9967831bfc0879ee2449a825ab81d94fd379 @szafarcin @dominiksteiner let me know what do you think.

The next release will be published the next week, so in the meantime you can pull master and test.

The output format is as follows:

[code]

If you need anything else than the `access_token` and the `refresh_token` you can parse the `raw` key on yo

[2015-09-25 14:58] dominiksteiner commented on #34
wow, incredible, looks good, will test it, thanks for this quick integration.

[2015-09-25 15:03] simov commented on #34
Also what's currently missing from the docs is that the following is identical:

[code]

So you can require Grant directly in your app, without the need of meta module.

[2015-09-25 15:05] dominiksteiner commented on #34
Thanks, that's useful information too.

[2015-09-28 11:43] szafarcin commented on #34
@simov, just tested concur change seems to be returning access/refresh tokens fine.

However there is a slight further requirement based on the same fork. We are passing custom variables to corresponding callback if they are present in initial request.  If you take a look at utils.js, we are binding variables (id,pwd,xsp,rurl etc)  to provider and retrieving them in the callback for further use.
W

[2015-09-28 13:56] simov commented on #34
Hi, @szafarcin, I'm not seeing such parameters in the  [official API docs](https://developer.concur.com/oauth-20/web-flow).

That seems to be part of your own application logic. If I'm understand you correctly you want to store some user data and use it in the final callback? If that's the case the easiest way would be to store it in the user's session on `connect` and then access it in the final

[2015-09-28 19:20] szafarcin commented on #34
Hi @simov ,

Yes correct, I was referring to variables mapped in https://github.com/szafarcin/grant/blob/master/lib/utils.js

Correct me if I am wrong regarding storing in session wouldn't that be part of grant itself as "connect" is called inside, and external app which uses grant just has the callback hook?. So what do you suggest for hooking data without changing in grant master. Thanks

[2015-09-28 19:36] simov commented on #34
I think we're on the same page. The first thing that comes to my mind is this:

[code]

Storing user data in `grant.config` is actually a bad practice. If you have two users connecting at the same time, the user data there will be incorrect. That's why it's better to store the user's data in its session.

[2015-09-29 06:04] szafarcin commented on #34
@simov thanks a lot for the clarification, and valuable input.

[2015-09-30 08:42] simov commented on #34
Version [3.5.1](https://github.com/simov/grant/blob/master/CHANGELOG.md) is published.

[2015-09-30 08:42] #34 closed

[2015-09-30 08:43] simov commented on #33
@JoeMcMahon87 I'm closing this issue for now. Let me know if you have any other issues.

[2015-09-30 08:43] #33 closed

[2015-11-04 15:12] sylvainlap commented on #5
npm3 no longer install peerDependencies. Is there a workaround ?

[2015-11-04 19:03] simov commented on #5
NPM3 shifts the responsibility for fulfilling peer dependencies from library framework / plugin maintainers to application authors, in that line of thinking you now just get a warning if the dependency is missing.

As a consumer of this module you are responsible for specifying in your package.json which version of Koa your app/module is going to use. Essentially almost nothing have changed, you j

[2015-11-05 09:02] sylvainlap commented on #5
ok thanks

[2015-11-11 21:26] theninthnode opened #36 "Problem with Trello"
I'm trying to connect to Trello but it doesn't seem to be working.

Here's my config:

[code]

Neither the Allow or Deny buttons are working. Looking at the console when clicking Allow it seems to do a POST call to https://trello.com/1/token/approve which is cancelled.

The post data contains: approve, requestKey, signature params.

Any idea what I've done wrong here?

[2015-11-11 22:41] simov commented on #36
Works on my end, can you try with this [example](https://github.com/simov/grant/tree/master/example/basic)?

Just copy/paste your config in place of the facebook one. Also check out if the `server` configuration is correct. In case you don't want to edit your hosts file you can probably use `localhost:3000` as a `host` value for Trello.

[2015-11-12 18:34] kerphi opened #37 "customized redirect URL ?"
README says that:

But in my application I'd like to use a customized redirect URL, for example:
[protocol]://[host]/myspecificapppath/connect/[provider]/callback

Is it possible ?

[2015-11-12 20:50] simov commented on #37
The OAuth redirect URL is used internally by Grant. What you probably you want to is to set up your `callback` URL. I'm giving you an example with Twitter:

1. Setup your OAuth application redirect url to `http://mywebsite.com/connect/twitter/callback`
2. Setup your your server's `callback` which is where you want to receive the **final** response data:

[code]

Notice that the redirect URL of you

[2015-11-14 13:03] kerphi commented on #37
Thank you.
Le 12 nov. 2015 21:50, "simo" <notifications@github.com> a écrit :

[2015-11-16 09:42] #37 closed

[2015-11-16 09:42] simov commented on #36
Let me know if you have any other issues. Closing.

[2015-11-16 09:42] #36 closed

[2015-11-18 16:11] thurstjo63 opened #38 "Grant/Purest use with shopify"
Hi, You might have noticed my tweet. I'm trying to use Grant and Purest for an app that I'm writing. The testing was going well. I was able to authenticate in test but once I deployed to Heroku, I ran into "Oauth error invalid_request: The redirect_uri is missing or not whitelisted" error. I mapped it in exactly the same way you did in the Grant demo app but am still getting this error.

As well,

[2015-11-18 16:55] simov commented on #38
The configuration that works locally won't work on Heroku. I'm giving you example with
https://grant-oauth.herokuapp.com

[code]

Then I have my Shopify OAuth app redirect URL set to `https://grant-oauth.herokuapp.com/connect/shopify/callback`

[2015-11-18 22:27] thurstjo63 commented on #38
Simeon, I cannot thank you enough!

All the best,

John

[2015-11-19 07:17] simov commented on #38
No problem, I'm glad it worked!

[2015-11-19 07:17] #38 closed

[2015-12-03 01:42] toadzky opened #39 "Session Issues"
I'm trying to use grant with koa, but my boss is pretty insistent that we not use session store for ANYTHING except the auth flows. So I can't just do what you examples do:
[code]
I'm using the [koa-joi-router](https://github.com/pebble/koa-joi-router) and I tried this:
[code]
to limit it to just the grant endpoints but I keep getting an error that I the session is missing or misconfigured. Based

[2015-12-03 07:31] simov commented on #39
I'm not sure if the session can be set per endpoint. Probably you can add a middleware before Grant's mount point and check if the user is about to navigate to a `/connect/[provider]` route, and initialize the session accordingly `this.session = {}`, then in your final callback where you receive the access token you can destroy the session `this.session = null`

[2015-12-04 06:12] toadzky commented on #39
My solution was to fork the project and add a constructor parameter for additional middleware. That allows it to be added to the koa app that gets mounted. If i figure out how to do the same (if there is even a parallel idiom) for hapi/express, i'll probably send a PR your way.

[2015-12-04 06:12] #39 closed

[2015-12-04 06:29] simov commented on #39
Got it. Actually up until version [3.3.0](https://github.com/simov/grant/blob/master/CHANGELOG.md#v330-20150517) Grant was using its own internal session store.
Then a few users wanted to have control over the session store used, so I just moved the middleware initialization outside of the Grant app. I never though about your use case actually.
If there is a strong demand for this feature I will r

[2015-12-07 08:50] noyg opened #40 "Express empty req.session.grant"
config:
[code]

app.js
[code]

I'm getting `{"error":"Grant: missing session or misconfigured provider"}`.
When logging `req.session` in `grant/lib/consumer/express.js:98` I get:
[code]

So it seems like the grant details aren't being updated to the session.

I was using this example as reference: https://github.com/simov/grant/tree/master/example/express

What am I missing?

[2015-12-07 12:06] simov commented on #40
Seems to be working on my end. I'm going to add `intuit` in the next release.

Your configuration looks correct, although I'm not sure how are these `custom_parameters` actually sent, the documentation isn't clear about that, there is just one example using their own library.

Can you try with [this example](https://github.com/simov/grant/blob/master/example/basic/app.js)? It's essentially the sam

[2015-12-08 13:04] noyg commented on #40
@simov you're right, it was something about loading the configuration.

Want me to prepare a pull request for intuit?

[2015-12-08 13:04] #40 closed

[2015-12-08 14:16] simov commented on #40
Sure, feel free to submit a PR. I think the 3 URLs and the `oauth` flag would be enough. I can't find any proofs about custom authorization parameters and how they are used in their documentation.

[2015-12-08 23:17] jgauna opened #41 "Session managment with Hapijs"
I'm using Grant with Facebook and Twitter and it works great but the problem is when I try to manage the session. The plugin generates a session called ```grant``` when it redirects to the facebook pr twitter login, and not when you logged in successfully. Do I need to use a custom session using yar ? Btw, awesome work ! Thanks.

[2015-12-09 09:48] simov commented on #41
Can you clarify that? I'm not sure I understand your issue correctly.

[2015-12-10 21:06] jgauna commented on #41
As I understand you're using Yar to create a session. This session is created when the route redirects to Facebook or Twitter login page. If my assumption is correct, it's an error because the session should be created when you are logged in and not before. If it's not, how do I get the session in the route handler?

[2015-12-11 08:30] simov commented on #41
The `grant` key in your user's session is created once you initiate a flow through the `/connect/[provider]` route.

You can get the contents of this key using:

[code]

There you have a bunch of other keys used internally by grant:

[code]

The `dynamic` and the `step1` keys are used internally by Grant. You should handle the contents of the `response` key somehow, and `provider` is just letting

[2015-12-20 21:20] #41 closed

[2015-12-22 08:22] noyg opened #42 ""response.raw" not containing extra parameters"
Using this configuration:
[code]

When I print `console.log(req.session.grant.response.raw);` I get:

[code]

Even though I do see a request to the default callback, with those params:
`http://localhost:3000/connect/intuit/callback?oauth_token=THE_TOKEN&oauth_verifier=VERIFIER&realmId=A_CORRECT_REALM_ID&dataSource=QBO`

I'm guessing I'm just doing something wrong here... Any help would be greatly

[2015-12-22 08:34] simov commented on #42
The querystring parameters you are seeing are from step2 of the OAuth flow, the final response is after step3. In other words Grant returns to you what the service responds with in the final step3 of the OAuth flow.

Can you point me to the Intuit docs on where are these parameters passed, and how are they supposed to be used?

[2015-12-22 09:00] noyg commented on #42
I am just figuring this out. How can I work around this?

Regarding the docs, I think that's what you were referring to:

https://developer.intuit.com/docs/0100_accounting/0060_authentication_and_authorization/connect_from_within_your_app#/2._Get_the_OAuth_access_token-7833

[2015-12-22 09:17] simov commented on #42
Got it, that's totally out of the OAuth specification, but I think I can patch my code easily. I'll let you know when it's done. Do you need the `dataSource` parameter as well? I don't see anything about it in their docs and its value seems to be `QBO` for me as well.

[2015-12-22 09:22] noyg commented on #42
I do'tt think that the `dataSource ` is necessary for now (at least not for me :) ). I'd be happy if you could point me in the right direction so I can patch it myself for the time being since this is becoming a little urgent on my end.

[2015-12-22 09:27] noyg commented on #42
I was thinking about adding something of the sort of:
[code]

around here: https://github.com/simov/grant/blob/32f024ab21a245b4a49d3670366313d448a5cdd6/lib/flow/oauth1.js#L92

Otherwise, I think the entire step2 data should be sent to `utils.toQuerystring` and that seems like an overkill.. What do you think?

[2015-12-22 09:32] simov commented on #42
Yep that's the spot, I'm about to add it right now, but I'm going to write a test for it, so you might be faster than me.

Sending the entire data is not necessary, it's easier that way, but I want to be explicit in that part of the app.

[2015-12-22 09:40] noyg commented on #42
Can I submit a pull request for the provider + fix, just without the test?

[2015-12-22 09:42] simov commented on #42
Well, I just pushed some stuff already, so probably won't be needed, though you helped me a lot already. I just can't find anything about the custom parameters and how are they used, so if you can point me to the right place in their docs that would be great. Their docs are definitely not very helpful for library authors.

[2015-12-22 09:50] noyg commented on #42
if it's already pushed, I'd love to use your branch instead of my forked one (for future updates), so I'd be more than happy to know once it's pushed.
In regards to documentation, I just used the examples they're providing in https://developer.intuit.com/docs/0100_accounting/0060_authentication_and_authorization/connect_from_within_your_app#/Sample_Implementations and went through to code to make

[2015-12-22 09:55] simov commented on #42
Done!

[code]

I'm usually releasing the new version by the end of the month.

[2015-12-22 10:07] simov commented on #42
Btw, you can now use this configuration:

[code]

I'll let you know when the new version is out.

As for the custom parameters they are probably these:

[code]

But I'm not sure, and I don't think I'm going to dig through they library to find out.

[2015-12-22 10:09] noyg commented on #42
WOW. Thank you so very much!

[2015-12-22 10:18] noyg commented on #42
one more question: how should I go about requiring the latest version with `grant-express`?

[2015-12-22 10:26] simov commented on #42
Take a look at the [Alternative Require](https://github.com/simov/grant#alternative-require) section in the documentation.

[code]

[2015-12-24 06:12] jgauna opened #43 "CORS issue with Facebook/Twitter in Backbone request"
Hello. I configured grant on my hapijs server and it's working great but when I try to make a request to ```myappp:9000/connect/facebook``` (as well with twitter endpoint) using a Backbone model i'm getting a **CORS error** message and model's promise is failing. I've enabled CORS on my hapijs server and I'm pretty sure this is not an issue with grant but maybe you could help me to solve it withou

[2015-12-24 07:12] simov commented on #43
You can't use AJAX request for that. You have to redirect the user instead:

[code]

So it's not what you would expect from a single page app, but the `authorization_code` OAuth2 flow and the similar OAuth1 one, that Grant is concerned with, requires redirecting to a third party server.

[2015-12-24 16:54] jgauna commented on #43
Thanks! It works. The final question is, does Grant support sending ```appsecret_proof``` for Facebook security?

[2015-12-24 17:11] simov commented on #43
The `appsecret_proof` parameter seems to be used for securing all requests after the initial user login. Check out [here](https://developers.facebook.com/docs/graph-api/securing-requests#generate-proof), the access token and the app secret are used to generate the app secret proof.

[2015-12-24 17:17] jgauna commented on #43
yeah but when Grant generates the request it seems not to be sending this ```appsecret_proof=<generated-in-the-server>'```. If i'm missing something I apologize

[2015-12-24 17:22] simov commented on #43
Grant is concerned with providing you with `access_token`. You can't have `appsecret_proof` before having an `access_token`:

[code]

You have to generate the `appsecret_proof` **after** you get the `access_token` using Grant.

[2015-12-24 17:34] jgauna commented on #43
oh, got it ! Thanks a lot for helping me. Regards.

[2015-12-24 17:34] #43 closed

[2015-12-28 18:17] simov commented on #42
:wave: version 3.5.4 is published on NPM :tada:

[2015-12-28 18:17] #42 closed

[2016-01-16 21:07] gigablox opened #44 "Hapi example breaks using ^6.0.0 yar"
Due to breaking changes in the [yar](https://github.com/hapijs/yar) plugin, the Hapi example breaks.

[2016-01-16 21:19] simov commented on #44
I see. I'll take a look at it tomorrow.

[2016-01-17 12:16] simov commented on #44
Version 3.5.5 with the fix is published on NPM. Let me know if you have any problems.

[2016-01-17 12:16] #44 closed

[2016-01-18 23:53] gigablox commented on #44
Thank you for the quick turn around @simov. Works great.

[2016-03-18 10:37] arjanfrans opened #47 "Path prefix"
I have an api that I have mounted on an url like this:
`http://localhost/v2/social/`

My provider callbacks are configured like this:
`/v2/social/connect/twitter/done`

The callbacks in between however, do not know about the `/v2/social` part. These callbacks will come back to `http://localhost/connect/twitter/callback`.

I tried setting the `grant.server.host` to `localhost/v2/social`, but this d

[2016-03-18 11:23] simov commented on #47
I think it should work out of the box if you set your `host` property to `localhost/v2/social` **and** mount Grant with that prefix:

[code]

But I don't like using the `host` property like that, also I haven't tested it myself so it might not work. Either way I'll figure out the best way to add this feature these days. I'm also going to add a new example and I'll probably update the docs as well.

[2016-03-18 11:33] arjanfrans commented on #47
I didn't mount grant directly on the app, but have a wrapper around it with some custom middleware added.

My server runs multiple express apps which are routed by Nginx, so express doesn't really know about the path.

For example, this is we proxy in Nginx:
* `/v2/social` -> express app A
* '/v2/api` -> express app B

For this use case, it didn't work.

[2016-03-18 12:30] simov commented on #47
Got it, that makes sense. I have NginX running on my workstation. It will take me some time to prepare everything but eventually this feature will be added one way or another. Just FYI it will be released by the end of this month.

[2016-03-23 19:55] talkingtab opened #49 "How to debug?"
I am trying to get the amazon provider to work, I'm having problems but I have no idea what the problem is. I have Facebook working. How does one debug this? I'm thinking of writing a simple server using just the node https server (since it seems like Amazon only works with https, not http). Any help, ideas, suggestions? Thanks

[2016-03-23 22:34] simov commented on #49
Yep amazon accepts only https protocol as redirect URL. That's the first result from Google when you search for [expressjs https](http://stackoverflow.com/questions/11744975/enabling-https-on-express-js).

I personally use NginX on my workstation as a proxy server on top of my node web server processes.

Here is the NginX vhost configuration for the example app:

[code]

[2016-03-24 00:51] talkingtab commented on #49
Thanks very much for the help.  I wasn't clear, I guess. I have https working with letsencrypt providing the certificate. And only https is running.Facebook works just fine over https, I just can't get Amazon to work and I am trying to come up with a way to find out what is wrong. I was hoping there was some debugging facility or way to get a clue.

[2016-03-24 06:27] simov commented on #49
You can always add a breakpoint inside your dependency code and expect what's going on.

Authenticating with Amazon is working here: https://grant-oauth.herokuapp.com/#/amazon

You just have to set your redirect URL to use https:

[code]

And set at least one scope, because having at least one scope set for Amazon is required:

[code]

[2016-03-24 16:22] talkingtab commented on #49
My mistake was that I create a grant object programmatically and I didn't set an Amazon provider. I found my problem by comparing url's for Facebook that was working, and for Amazon. Amazon did not have a client key set, nor a scope, etc because I had not appended the provider. It would be a nice feature to have some error reported when calling http://domain/connect/provider when there is no match

[2016-03-24 16:22] #49 closed

[2016-03-26 12:00] simov commented on #47
@arjanfrans take a look at the [Path Prefix](https://github.com/simov/grant#path-prefix) section.

In your case you just have to:

1. Mount Grant as usual (without prefix).
2. Set the path prefix using the `path` configuration option under the `server` key (this option is used only for generating the `redirect_uri` that you specify for your OAuth app).
3. Prefix all your provider's `callback` conf

[2016-03-26 14:20] arjanfrans commented on #47
Looks good, I just tried it and it works. I agree on the automatic prefix on the callbacks, it is more flexible this way.

Thanks!

[2016-03-27 09:06] simov commented on #47
Version 3.6.0 is published.

[2016-03-27 09:06] #47 closed

[2016-04-15 10:11] dj-hedgehog opened #50 "User/password authentication strategy / custom oAuth provider"
I just started a new webapp-project using the application framework Strapi which offers authentication via grant. I want my own authentication in the webapp but am "forced" to use grant.

Is there an easy way to set up/fake my own oAuth provider, will I need to use middleware like [koa-oauth-server](https://github.com/oauthjs/koa-oauth-server) or is there even a simple user/pw strategy for grant?

[2016-04-15 10:34] simov commented on #50
Grant is only concerned with *OAuth1.0* and its *OAuth2* counterpart, the *Authorization Code Grant* flow.

So you are going to need an OAuth server (provider) like *koa-oauth-server*. Then you need to setup a [Custom Provider](https://github.com/simov/grant#custom-providers) in Grant pointing to your own application server.

[2016-04-15 12:06] dj-hedgehog commented on #50
Ok, thanks for explaining the scope of this project.

[2016-04-15 12:06] #50 closed

[2016-04-15 13:05] simov commented on #50
I'm looking at the [Strapi docs](http://strapi.io/documentation/users) right now. It seems that they support what you want. Grant is used only when you login your user using their social network accounts. See the [Local Registration](http://strapi.io/documentation/users#local-registration), it does not use OAuth.

[2016-06-07 21:00] Pitchlab opened #53 "Problem when using multiple scopes in facebook"
Hi,

I am using grant express and trying to make the facebook example work. The twitter and e.g. moves examples work fine. With facebook there is a problem though. After testing it occurs only when there are multiple scopes defined in the config.

[code]
When running, facebook fails to properly redirect back and the query string in the debug shows the scope parameters as url encoded comma separate

[2016-06-07 21:07] simov commented on #53
Seems to be working [here](https://grant-oauth.herokuapp.com). What exactly is the error message returned from Facebook?

[2016-06-07 21:37] Pitchlab commented on #53
Hi

The site you gave gives me the same error, so I tried a different browser
for good measure. Safari does work. (My) latest version chrome doesn't
(Mac, Yosemite) Weird.

Update: turning off all extensions made it work on chrome as well. Must be
some interference there. As I suspected, something stupid from my side...
Thanks for looking into this.

...............................................

[2016-06-07 21:42] simov commented on #53
No problem.

[2016-06-07 21:42] #53 closed

[2016-06-09 03:54] LinkTree3 opened #54 "grant-express app.use(session({secret:'grant'})) question"
Hi, this is not really an issue just a question I couldn't find answer to anywhere.
What is the secret: 'grant' part stands for? I see it in different forms everywhere like secret: 'very secret'
am I supposed to replace 'grant'/'very secret' with a different value? what is it used for in the session function?

Thank you very much!

[2016-06-09 06:05] simov commented on #54
You should definitely change that value. From the [express-session](https://github.com/expressjs/session#secret) docs:

[2016-06-09 07:31] LinkTree3 commented on #54
Thank you for the quick response! :+1:

[2016-06-09 07:31] #54 closed

[2016-06-14 17:36] arjanfrans opened #57 "Change provider config dynamically within the backend"
From what I understand, is that you can override provider configuration by posting a form to an override route.

I need to override the provider config, but this is not controlled from a form. I have a database that contains keys and secrets. I want to override provider configurations within my backend application, by doing a query to my database to get the `key` and `secret` from a provider.

I a

[2016-06-14 17:54] simov commented on #57
The easiest way would be this:
[code]

[2016-06-15 07:13] arjanfrans commented on #57
Does this mean that the route can not be the same? I'd like to keep my own route as `/connect/:provider`.

[2016-06-15 07:23] simov commented on #57
`/connect/:provider` is reserved route for Grant. You have to use something else for your stuff.

Alternatively you can use the [path prefix](https://github.com/simov/grant#path-prefix) option to achieve what you want:

[code]

[2016-06-15 07:28] arjanfrans commented on #57
Alright, thanks!

[2016-06-15 07:28] #57 closed

[2016-07-01 22:10] isaiahgrey93 opened #58 "Use jwt instead of cookie?"
I would like to use response data from each provider to create a json web token instead of the generated cookie.

How might I be able to do this using grant?

[2016-07-02 07:31] simov commented on #58
Grant uses cookies and session to persist state between the OAuth steps (redirects). After the OAuth flow is complete you can generate the jwt token inside your callback route and then you can remove the flow data from the session.

Let me know if that makes sense.

[2016-07-05 18:24] #58 closed

[2016-07-11 11:26] kyrylkov opened #59 "Avoiding sessions"
Is there a reason why Grant requires the use of sessions and cookies?

[2016-07-11 11:28] simov commented on #59
Grant uses cookies and session to persist state between the OAuth steps (redirects). After the OAuth flow is complete you can generate the jwt token inside your callback route and then you can remove the flow data from the session.

[2016-07-11 11:33] kyrylkov commented on #59
Both for oauth 1.0 and 2.0?

[2016-07-11 11:38] simov commented on #59
Yep, there is no difference when using Grant. I guess it's safe enough to even use the in memory session store in production, because you really use it only during the OAuth flow, after that you can choose where and how to store the user's credentials.

[2016-07-11 11:54] kyrylkov commented on #59
How much effort would it be to make it use `express-jwt` as an option instead of `express-session?

[2016-07-11 12:41] simov commented on #59
I'm not sure what exactly is your goal, but you can create a route on your server that uses the express-jwt middleware, that redirects to the `/connect/:provider` route. After that inside the final callback route of the OAuth flow you can destroy the session and tell the browser to remove the cookie as well.

Let me know if that makes any sense.

[2016-07-11 12:51] simov commented on #59
Also I forgot to mention that after your are being redirected to the third party server of the provider, when the third party server redirects you back to your server that request won't have a JWT token in it  (correct me if I'm wrong).

[2016-07-11 13:27] simov commented on #59
Another thing is that once you have the OAuth access_token from the third party provider you have to store it somewhere on your server. Meaning that you can still use JWT to make requests to your own API, but once that API request involves requesting a third party resource you have to load the access_token from somewhere. Obviously storing the access_token in your JWT is not a good option.

[2016-07-11 16:56] kyrylkov commented on #59
Creating a cookie and deleting it is very kludgy.

We're looking for a solution to replace repetitious [satellizer server code](https://github.com/sahat/satellizer/blob/master/examples/server/node/server.js)

[2016-07-11 17:48] simov commented on #59
You are asking for two separate things:

The first part is about having a cookie:

Grant is purely a server side solution. The server should persist state during the OAuth flow. After the third party server redirects you back to your website the server should be able to know which state to pick to continue with the flow. That's what the cookie is for.

The second part is about generating JWT:

If

[2016-07-11 20:32] kyrylkov commented on #59
I have everything implemented manually, however I'd like to rely on well supported modules to minimize maintenance.

I just reviewed `passport` and it doesn't require the use of `express-session`.

[2016-07-11 21:13] simov commented on #59
Take a look at [this](https://github.com/jaredhanson/passport-oauth2/blob/master/lib/state/session.js) that's the module that every passport- OAuth2 provider depend on:

 This state store requires session support.  If no session exists, an error will be thrown.

The only difference is that the session store is required in Grant, because it is used for dynamic overrides as well. It also helps you o

[2016-07-13 17:11] simov commented on #59
I just pushed a small [example](https://github.com/simov/grant/tree/master/examples/jwt) about JWT.

This is the [session configuration](https://github.com/simov/grant/blob/master/examples/jwt/app.js#L14-L19) and this is how you [destroy the session and tell the browser to remove the cookie](https://github.com/simov/grant/blob/master/examples/jwt/app.js#L36-L39). I'm looking at the Resources tab i

[2016-07-13 17:29] kyrylkov commented on #59
Thanks.  We'll check it out.

[2016-07-14 08:57] simov commented on #58
@isaiahgrey93 you may find this [example](https://github.com/simov/grant/tree/master/examples/jwt) interesting.

[2016-07-14 09:03] kyrylkov commented on #59
After implementing Oauth 1.0 manually, it is finally clear where session or some sort of other state is required.  Previously we used had only Oauth 2.0, which didn't need it.

[2016-07-14 09:11] simov commented on #59
OAuth2.0 have an optional `state` parameter. However you should always include one to prevent certain vectors of attack.

You can enable the automatic state generation for OAuth2.0 by adding `state: true` to your server's config:

[code]

Here is the required state you are talking about:

- [OAuth1.0](https://github.com/simov/grant/blob/3.6.2/lib/flow/oauth1.js#L33-L37)
- [OAuth2.0](https://github

[2016-07-16 05:16] simov commented on #59
So, to answer your question: Some sort of state is unavoidable, whether it's a session or something else.

Using sessions is the more flexible solution that also works out of the box, and pretty much every web developer is familiar with it.

If you can suggest a better alternative for keeping state on the server, I'll take it into consideration. Otherwise this issue can be closed.

[2016-07-18 18:49] simov commented on #59
@kyrylkov feel free to re-open this issue and/or ask any other question.

[2016-07-18 18:49] #59 closed

[2016-07-23 03:50] evancohen opened #61 "OAuth Playground Source"
Hey @simov, have you open sourced the code for the OAuth playground?
Great project :rocket:

[2016-07-23 08:22] simov commented on #61
No, I haven't open sourced the showcase app yet. But with the amount of docs and examples here it shouldn't be that hard to figure out what I have on the server.

The first thing is to have configuration for each provider, but in this case I have only the provider's application `key` and `secret` set. The next important thing is to have a single *final* callback on your server for all providers, y

[2016-07-23 08:28] evancohen commented on #61
Most excellent! Thanks for the detailed response :)

[2016-07-23 08:28] #61 closed

[2016-09-06 11:47] Eruant opened #63 "How do I debug "error=Grant: missing session or misconfigured provider""
I've used grant for a while, and have got it working for my app. However occasionally I get the following error:
`error=Grant%3A%20missing%20session%20or%20misconfigured%20provider`

It's not clear what is causing the issue. Is there a way of getting a better output?

[2016-09-06 11:52] simov commented on #63
This generic error message was introduced here https://github.com/simov/grant/pull/23 Is it possible that you are experiencing it in similar circumstances?

[2016-09-06 12:02] Eruant commented on #63
I start at:
`get /connect/musicqubed {} 302` which redirects me to OAuth2 server.

I then get redirected back to:
`get /connect/musicqubed/callback {"code":"<code>","state":"<state>"} 200`

When looking at the `grant` variable it is set to `{}`. It looks as if the session never got set.

[2016-09-06 14:06] simov commented on #63
Missing session can definitely result in that error. Which framework+version do you use, Express, Koa, Hapi?

Take a look at these tests: https://github.com/simov/grant/blob/master/test/consumer/express/error.js#L180-L243

If the bare minimum configuration is missing in either the connect or the callback routes in Grant, then Grant simply tells you that either your configuration is incorrect, or y

[2016-09-06 14:37] Eruant commented on #63
I'm using Hapi.

I've investigated this further, and it seems that all cookies stored by yar get wiped upon return from the my OAuth2 provider. It looks like this issue is either coming from yar or my provider.

This issue can be closed for now. It seems most likely that the issue isn't being caused here.

[2016-09-06 14:42] simov commented on #63
Can you give me the *exact* version of Hapi and Yar that you are using? That way I can at least run the test suite against them. Currently the Hapi version used for testing is pinned to an older version due to compatibility issues with older versions of Node.

[2016-09-06 15:03] Eruant commented on #63
Sure, here you go

| Package | Version |
|---|---|
| hapi | 15.03 |
| yar | 7.0.2 |
| grant-hapi | 3.6.4 |

[2016-09-06 16:11] simov commented on #63
Tests seems to be passing on my end. I'm closing this issue for now, feel free to re-open it and/or add something to it.

[2016-09-06 16:11] #63 closed

[2016-09-06 16:15] Eruant commented on #63
I've had some success with Safari, but not Chrome or Firefox. It could possibly be related to the way the cookies and sessions are set. If I figure this out I'll add the solution in case anyone else has the same issue in the future.

[2016-09-06 16:18] simov commented on #63
That would be great! :+1:

[2016-09-07 09:12] Eruant commented on #63
The issue appears to be with yar, and so I've opened a new ticket:
https://github.com/hapijs/yar/issues/101

[2016-09-13 14:12] ramiel opened #66 "Specific information through the login process"
Hi, thank you for this amazing project!
I have this requirement and I'm wondering if I can accomplish it with your library. Depending on some parameters, just after the login I have to assign a different role to the logged user.
This means that I'd want to specify "log the user with the provider and after assign him the role X".
I cannot instantiate two provider for the same type (and I don't need

[2016-09-13 14:20] simov commented on #66
You can write your own connect route, add some state in the user's session, and then redirect to the actual connect route that Grant uses. Then inside the final callback you will have access to both the response data from the OAuth flow, and the user's state stored earlier in the session.

[2016-09-13 14:23] ramiel commented on #66
Is what you call dynamic override in the documentation?

[2016-09-13 14:27] simov commented on #66
No, it's something like this:

[code]

[2016-09-13 14:30] ramiel commented on #66
Well, thank you, I'll try

[2016-09-13 14:32] ramiel commented on #66
Ok, it's works, great solution!

[2016-09-13 14:32] #66 closed

[2016-09-30 09:53] robinvdvleuten opened #67 "Supply additional headers with request"
Hi there,

First, big props for this lib! Very easy to setup 👍  I am trying to setup a connection with the discogs oauth api, but they require to send an additional user-agent header. How can I configure this in the grant lib? Here's my setup:

[code]

[2016-09-30 10:09] simov commented on #67
I see, they probably changed how their OAuth flow behaves. I'm going to add this header and a test for it.

Intentionally there is no way to add custom headers, because I want everything non OAuth compliant documented in my code, like this one. Of course this approach can break my code but I prefer it that way. I'll publish the patch later today.

Thanks for the feedback!

[2016-09-30 11:34] robinvdvleuten commented on #67
@simov thank for the quick response! I'll wait for the patch then 😌

[2016-09-30 13:30] simov commented on #67
Version 3.6.5 is published with the fix.

Currently the user-agent is non configurable meaning it will always be called `Grant` during the OAuth flow.

:tada:

[2016-09-30 13:30] #67 closed

[2016-10-03 17:54] robinvdvleuten commented on #67
@simov thanks! it works as expected 👌

[2016-10-26 08:33] TBoonX opened #68 "Does not work with hapi-auth-jwt2"
If I add to my working code the npm module hapi-auth-jwt2, then all calls to /connect/provider returns 401.
How I added it:
as plugin in hapi _require('hapi-auth-jwt2')_
with a configuration
[code]
Then the routes for grant have the configuration for disable jwt:
[code]

It returns the body
`{"statusCode":401,"error":"Unauthorized","message":"Missing authentication"}`
and the headers
[code]

Do yo

[2016-10-26 10:31] simov commented on #68
How do you pass the `config: {auth: false}` to the Grant routes? I don't think that's currently possible.

[2016-10-26 10:34] TBoonX commented on #68
[code]
this disables hapi-auth-jwt2 for the route.

[2016-10-26 10:38] simov commented on #68
This options should be added to the Grant's internal `/connect` routes but that's currently not possible.

I don't see an option to filter out those routes in `hapi-auth-jwt2` either, so I'm thinking about implementing a `config` object support for Grant.

[2016-10-26 11:06] TBoonX commented on #68
You are right!
I solved it for me with removing `server.auth.default('jwt');` in my server.js and enabling jwt just for routes which needs it.
For me it is resolved but perhaps your proposal should be considered in the future.
Thanks

[2016-10-26 11:07] #68 closed

[2016-10-27 10:29] Bramzor opened #69 "Using Grant without sessions"
For our APP, we arent using any Sessions but instead, using JWT tokens. Is there a way to use Grant without having to use sessions?

[2016-10-27 12:56] simov commented on #69
Hi @Bramzor can you read through this thread https://github.com/simov/grant/issues/59

[2016-10-27 14:16] Bramzor commented on #69
Hi @simov, thanks for showing me that thread. Is exactly what I'm facing. So the only solution is including sessions (which I just got rid off thanks the JWT tokens). Checked https://github.com/simov/grant/blob/master/examples/jwt/app.js and it might be a solution to create an empty session handler (which does nothing) just to pass the variables.

[2016-10-27 14:43] simov commented on #69
Yes the session in Grant is used only as a temporary state. It's not being used for anything else and you can delete it after the OAuth flow is complete.

Can you open up another issue for your other question in the Purest issue tracker?

[2016-10-29 07:27] #69 closed

[2016-12-02 18:06] sleewoo opened #70 "Koa2 implementation question"
Any thoughts on how to handle Koa consumer after Koa2 released?

Chrome 55 released today and there is progress on a Node7 release that will ship with V8 5.5.
Node may land with official async/await support in less than a month.
Same for Koa2.

Would you ship a Koa2 version or replace existing one?
Thanks.

[2016-12-03 07:06] simov commented on #70
Last time I checked Grant was working fine with Koa2. Check out my comment [here](https://github.com/simov/grant/pull/62#issuecomment-243443866).

I know that support for generators will be dropped in Koa3 so I think that would be a breaking change here as well. Using async/await functions for your Koa routes shouldn't be a problem, it's just that Grant is going to use a generator function for its

[2016-12-03 08:58] sleewoo commented on #70
mm, sorry, i'm not aware of any Koa3, did i miss something?

AFAIK, current version is v1 and it uses generators.
Next version is v2 and will be released (pretty soon) when Node will natively support async/await.
v2 does not allow generators middleware, everything should be async/await.

So when v2 released, will you support both versions or would async/await version replace generators one?

Thank

[2016-12-03 10:19] simov commented on #70
Check out this [section](https://github.com/koajs/koa/tree/v2.x#old-signature-middleware-v1x---deprecated):

From my prevous [comment](https://github.com/simov/grant/pull/62#issuecomment-243443866):

Again:

Grant currently works with both Koa1 and Koa2, however it won't work with Koa3 out of the box.

Let me know if something isn't working for you with Koa2.

[2016-12-03 10:31] sleewoo commented on #70
thanks for patience :)
will give it another try and reply with results

[2016-12-03 14:07] sleewoo commented on #70
works perfect!
was cooking it wrong.
thank you.

[2016-12-03 15:15] simov commented on #70
No problem, thanks for the feedback!

[2016-12-03 15:15] #70 closed

[2017-01-05 00:06] Rub21 commented on #68
hey @TBoonX ,

how did you enable for specific routes?

[2017-01-05 08:28] TBoonX commented on #68
@Rub21
In your routes:
[code]
in your server: (something like that)
[code]

[2017-01-08 08:28] aequasi opened #71 "Add provider for Discord"
Full Docs: https://discordapp.com/developers/docs/topics/oauth2

[2017-01-08 16:17] simov commented on #71
Added here: https://github.com/simov/grant/commit/82a9ca7f5125139d9b3ee3de41c68fe31033f04a though not published yet :+1:

[2017-01-08 16:17] #71 closed

[2017-03-09 23:57] kevincollins7 opened #72 "Generate a JWT and Send to Client"
Hello,

This is not an issue with Grant but maybe you guys could help me out. I've got Grant working on my API running on http://localhost:3000 and I've got an Angular2 app running on http://localhost:4200.

If I setup my Angular2 app login screen with a Google Auth button that redirects the user window to http://localhost:3000/connect/google (window.location.href='http://localhost:3000/connect/go

[2017-03-10 07:38] simov commented on #72
Hi @kevincollins7,

Take a look at the [JWT example](https://github.com/simov/grant/tree/master/examples/jwt).

You only have to add that additional step to verify the user's email against your database. In the end this examples returns a JSON response to the `/handle_facebook_callback` route. There you should have some browser side logic to redirect the user to where it was in your app before cli

[2017-03-10 19:11] kevincollins7 commented on #72
Thanks @simov

So confirming the user exists and creating the jwt is the easy part. Got that working. I guess my question is - does it makes sense for me to have the callback actually set to the frontend and not the API. I've got something working right now where in my API on :3000 I have the callback set to the frontend on :4200/auth. That /auth route actually takes the access_token from the GET

[2017-03-10 20:24] simov commented on #72
Grant internally is redirecting you to whatever `callback` URL you specify. It doesn't matter where it is as long as it is reachable. In the end you have to _response_ back to the user.

I'm not sure I understand your scenario exactly.

[2017-03-10 20:39] kevincollins7 commented on #72
No worries @simov I don't want to have you stuck with an open issue when really nothing is broken with Grant. I have a working solution using Grant now and I'm going to run it by some of my teammates so you can close this issue. If you'd like to connect outside of this ticket I could demo my scenario and current solution for you. Just let me know!

[2017-03-10 20:47] simov commented on #72
I'm glad it worked out for you. You can explain what you did here if you want. It might be useful to someone else.

[2017-03-10 21:02] kevincollins7 commented on #72
Definitely! Here is my scenario. We are building a web application using Angular2 and an API using Koa2.

Running locally:
http://localhost:3000 is the API
http://localhost:4200 is the Angular2 application

Grant is installed and running on the API.

On the Angular2 app I built a login form (http://localhost:4200/login) with a button that directs the browser to: http://localhost:3000/connect/googl

[2017-03-10 21:30] simov commented on #72
Sounds reasonable.

Your JWT [should expire](https://github.com/simov/grant/blob/master/examples/jwt/jwt.js#L23) at some point (1 year is too long). How are you going to refresh it?

Here is one interesting [thread](http://stackoverflow.com/questions/26739167/jwt-json-web-token-automatic-prolongation-of-expiration) about it.

[2017-03-10 22:18] kevincollins7 commented on #72
Yep definitely that's actually the next thing I've got to work on so thanks for the links! Something like staying valid for X days then requiring a refresh will be the goal. There is also this library:

https://github.com/auth0/angular2-jwt

Which l've only just started glancing at.

Thanks for taking the time to read my process!

[2017-03-11 20:22] simov commented on #72
:+1:

[2017-03-11 20:22] #72 closed

[2017-03-18 23:35] franz-josef-kaiser opened #73 "Copy.com is discontinued"
I just saw that [copy.com](https://copy.com/) has ended its live and so has their OAuth endpoint and developer documentation. They [can safely be removed](https://github.com/simov/grant/blob/057e9224308191b91c9e4b6fdf5896284c85d355/README.md#150-supported-providers--oauth-playground) from the `README`.

[2017-03-19 07:53] simov commented on #73
That's a good idea, I think there are a few others discontinued from that list, but it'll be too much work to find them all.

[2017-03-27 12:33] simov commented on #73
I also removed `beatsmusic` https://github.com/simov/grant/commit/37fd75e05efd80570bda917834f600a877cc0b35 because they were acquired by Apple.

[2017-03-27 12:33] #73 closed

[2017-04-19 00:34] frxstrem opened #74 "Grant does not work with Koa 2"
Grant is incompatible with Koa 2 (which is the current version of Koa).

This is the code I'm using to test:

[code]

When using old versions of the dependencies (`koa@1`, `koa-mount@1`, `koa-session@1`), this code works as expected when accessing `/connect/github`, but when using the newest versions of each dependency, I only get the message `Not Found` (as if Koa ignores the Grant completely).

[2017-04-19 09:36] simov commented on #74
Hi @frxstrem, thanks for the detailed bug report!

Grant supports Koa2.x, I used [this example](https://github.com/simov/grant/tree/master/examples/koa) with your dependency versions.

Your `app.listen(8000);` line looks out of place, it's a good idea to put it at the bottom. Let me know if it works that way.

[2017-04-19 11:27] frxstrem commented on #74
Thanks, putting that line at the bottom seemed to work!

[2017-04-19 11:27] #74 closed

[2017-06-09 20:04] andreagentili opened #76 "koa2 version runs only in node 8+"
This is due to the use of [util.promisify](https://nodejs.org/api/util.html#util_util_promisify_original), added in node 8.0.0.

[2017-06-09 20:10] simov commented on #76
Yes I know, in fact I have stated that in the [changelog](https://github.com/simov/grant/blob/master/CHANGELOG.md#v380-20170607).

My thinking was that `async/await` was introduced in Koa 2 with a minor version, so I though most of the people on Node 7.6 will most probably jump on the LTS Node 8.

Otherwise I could have used other method of course. Do you think that's a huge problem? I really don'

[2017-06-12 08:42] andreagentili commented on #76
Not much of a problem, but I think reading this issue can save some headaches to many people.

[2017-06-12 08:42] #76 closed

[2017-08-15 09:28] corysimmons opened #77 "How does this project compare to Passport?"
Just curious. Didn't see a Gitter or anything.

[2017-08-15 11:15] simov commented on #77
Grant is only concerned with [OAuth 1.0](http://oauthbible.com/#oauth-10a-three-legged) and [OAuth 2.0 authorization code](http://oauthbible.com/#oauth-2-three-legged) flows.

As to what Passport offers you'll have to ask in their issue tracker.

[2017-08-15 11:21] corysimmons commented on #77
It seems like the same thing except Passport offers email auth as well as OAuth providers.
The huge difference being Grant looks much simpler/cleaner.

Any plans on adding email auth?

[2017-08-15 11:44] simov commented on #77
Nope, that's the scope of this project.

Grant is only a middleware, like any other, regarding OAuth, meaning that you can add another middleware for email auth to your app.

[2017-08-15 11:56] corysimmons commented on #77
Fair enough.

[2017-08-15 11:56] #77 closed

[2017-10-24 19:29] davidyaha opened #78 "Using custom provider with express enforces use of callback which in turn exposes access_token to the client"
Hey,

First of all, thanks for this great project!

I am using a custom oauth2 provider with express and I need to get the user info after the user has authorized a login. The way I found to do that is using the `callback` url which is called on `step3` in you're codebase. I've added a new endpoint that handles this `callback` with the `access_token`.
This is using redirect so the client gets the

[2017-10-24 20:36] simov commented on #78
Hi @davidyaha,

You have to use the [session transport](https://github.com/simov/grant/tree/master/examples/session-transport), that way the `access_token` won't be exposed in the final callback as querystring.

[2017-10-25 10:11] davidyaha commented on #78
Hey @simov! Thanks that helped!

For anyone finding this issue, note transport definition:
https://github.com/simov/grant/blob/master/examples/session-transport/config.json#L5

and express session middleware:
https://github.com/simov/grant/blob/master/examples/session-transport/app.js#L12

[2017-10-25 10:11] #78 closed

[2017-11-20 17:10] aslafy-z opened #79 "Use URL object instead of custom"
Hi!
I wonder why you use a custom object type "server" to store url parameters.
I store my own app url into an environment variable, in a entire form.
You could use https://nodejs.org/docs/latest/api/url.html instead.

I'd like to do this:
[code]

Instead of this:
[code]

It would be great to use this kind of syntax without breaking all others uses.
Thank you

[2017-11-27 06:30] #79 closed

[2018-02-04 04:56] wotsyula opened #81 "[SUGGESTION]: Add google OATH api to examples."
The examples directory only contain examples for Facebook and Twitter OAUTH. Had to spend over an 2 hours looking at code and debugging to get google to work. An example of getting user profile with google api (and purest) would be great. If not for me then at least for the next guy.

[2018-02-04 21:15] simov commented on #81
Hi, @wotsyula, thanks for your suggestion and for keeping it cool after spending 2 hours of your time trying to get it working. I understand your frustration.

I try to keep the documentation and the examples as concise as possible. Facebook and Twitter are picked only for the sole purpose of demonstrating the configuration for OAuth2 and OAuth1 respectively. I could've picked any other two, and b

[2018-02-23 10:31] #81 closed

[2018-02-25 03:27] nigeltiany opened #84 "setting the scope_delimiter value does not get passed as actual delimiter"
When the scope_delimiter is set as e.g ```"+"```, the delimiter is used as ```%2B``` in the request.

[2018-02-25 13:49] simov commented on #84
Yes, all delimiters: `,`, ` ` (empty space) and `+` are being escaped:

[code]

From the above example only the [encodeURI](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI) function does not encode the _unreserved_ URI characters. [encodeURIComponent](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent) on t

[2018-02-27 07:09] Lichtjaeger opened #85 "Feature Request: OpenID connect support"
OpenID connect is built on top of OAuth2.0.
It has endpoint and claim discovery. With this client, you could reach a much greater variety of providers.
And you could support self-created providers too.

[2018-02-28 17:56] simov commented on #85
Thanks for the feedback, @Lichtjaeger, I'll take a look.

[2018-03-07 09:19] manuelkiessling opened #86 "SECURITY: Depend on request@2.83.1 instead of 2.81.0 to mitigate vulnerability in transient dependency hoek@2.16.3"
`hoek@2.16.3` has a vulnerability, which is fixed in newer version. You are currently not (transiently) getting the fixed version because you depend on an older version of `request`. Upgrading your dependency to `request2.83.1` should fix the problem.

Here is the output of NSP:

[code]

[2018-03-07 10:29] simov commented on #86
Unfortunately this update is going to break any client on Node <= 4.x.

I don't support those versions but I won't be able to update `request` without a major release here, and I'm thinking about replacing it with something else instead.

I know these vulnerability warnings are kind of annoying, but Grant does not use anything from this dependency, so in fact this vulnerability is not affecting it

[2018-03-07 17:13] illarionvk opened #87 "Hapi v17 support"
Thank you for creating the library; I enjoy using it with Hapi to authenticate my apps in Shopify stores.

[Hapi v17](https://github.com/hapijs/hapi/issues/3658) has introduced a lot of breaking changes and I can't make Grant Hapi plugin work with the new version.

Are you considering upgrading your Hapi plugin to support Hapi v17 in the near future?

[2018-03-08 17:55] simov commented on #87
Yes, it will most likely require a separate [consumer](https://github.com/simov/grant/tree/master/lib/consumer) similarly to `koa2`. I can't give you exact timeframe, but it's definitely on my radar. I'll let you know once I have something ready.

[2018-03-14 12:43] simov commented on #86
@manuelkiessling I've released v4.0 where I've dropped the `request` dependency in favor of `request-compose` which is a lighter HTTP client that simply does not depend on `hawk`, meaning that this effectively resolves the vulnerability issue.

Check out the [Changelog](https://github.com/simov/grant/blob/master/CHANGELOG.md#v400-20180314) before migrating. There is only one breaking change that m

[2018-03-14 12:43] #86 closed

[2018-03-14 16:57] manuelkiessling commented on #86
I'm afraid I cannot test this directly, because grant is only a transient dependency for me - I depend on https://github.com/transloadit/uppy-server (see transloadit/uppy-server/issues/70).

[2018-03-14 17:00] simov commented on #86
I see, I've sent an email to the uppy's maintainers, also I'll comment in their issue tracker. Migration to v4 should be pretty straightforward for them.

[2018-03-14 23:17] ifedapoolarewaju opened #88 "Cannot find module 'request-logs'"
after updating to the latest version of `grant.js` on [uppy-server](https://github.com/transloadit/uppy-server), I am getting the following error.

<img width="966" alt="screen shot 2018-03-15 at 12 07 49 am" src="https://user-images.githubusercontent.com/8383781/37435994-18a6b64c-27e6-11e8-8eb5-d78778ee9ff1.png">

is this expected? Should `request-logs` be installed as a dependency?

[2018-03-14 23:35] simov commented on #88
Do you have any environment variables set? This dependency should be needed only when the `DEBUG` environment variable is set. I should probably remove it anyway as it can cause issues.

[2018-03-14 23:43] ifedapoolarewaju commented on #88
I am setting `export DEBUG="to some value"`, but I think this implicit behaviour might be undesirable since the env variable set might be unrelated with the library.  Especially since `request-logs` is set as a devDependency.

[2018-03-14 23:44] simov commented on #88
Yep, I'll change that, I'll let you know once it's ready.

[2018-03-15 00:19] simov commented on #88
@ifedapoolarewaju I've published `v4.0.1` you should be able to remove the `request-logs` dependency now.

Thanks for the feedback :+1:

Let me know if you find anything else!

[2018-03-15 00:19] #88 closed

[2018-03-18 21:56] simov commented on #87
@illarionvk Hapi v17 support landed in v4.1.0 :rocket: :sparkles:

Check out the [changelog](https://github.com/simov/grant/blob/master/CHANGELOG.md#v400-20180314) for any potential breaking changes in v4.x

Let me know if you have any issues with it.

[2018-03-18 21:56] #87 closed

[2018-03-20 11:53] illarionvk commented on #87
The new Hapi v17 consumer works well for me so far. Thank you!

[2018-04-08 05:08] ryanlabouve opened #89 "Koa 2 examples (with current Koa API)"
Thank you for all the great examples! I had to make some modification to get with `"koa": "^2.5.0"`.

I would be happy to add something like this as an additional example if it would be helpful:

(I also left comments on what I had to change)

[code]

[2018-04-09 12:58] simov commented on #89
I was thinking about Koa2 example at some point. Feel free to add one, I'll do my final touch on top of it. Personally I'm not a huge fan of excessive comments, because it will be much easier to spot the differences between the Koa1 and Koa2 examples if you open up the files in split view or just diff them. Also the examples follow the same style rules as the rest of the code base, you can validat

[2018-04-09 14:28] ryanlabouve commented on #89
Totally! I just added the comments for the sake of sharing the snippet here. I will cleanup and PR tonight. :)

[2018-04-22 12:58] simov commented on #89
I've published the example [here](https://github.com/simov/grant/tree/master/examples/koa-2).

Thanks for the feedback :+1:

[2018-04-22 12:58] #89 closed

[2018-05-01 23:17] mechanical-turk opened #90 "Design pattern for multiple, independents scopes for the same provider"
Hi,

We are having a hard time figuring out how to tackle the following issue:

Let's say we want two separate OAUTH integrations for Google Calendar and Google Contacts. Since we want these to be processed differently, we'd like to assign different callbacks for them. However, because they belong to the same provider, we can only list one callback under `google` when we are initializing the grant

[2018-05-02 11:07] simov commented on #90
Hi,

These are called [Static Overrides](https://github.com/simov/grant#static-overrides) ([example](https://github.com/simov/grant/blob/master/examples/static-override/config.json)).

You can override any option. Also you can have as many callbacks as you want:

[code]

Then you have to navigate to:

- /connect/google/calendar
- /connect/google/contacts

And on you server you'll have two separate

[2018-05-02 17:34] mechanical-turk commented on #90
@simov thank you so much. this was really helpful

[2018-05-02 17:34] #90 closed

[2018-06-17 17:24] Lordmau5 opened #91 "/connect/<provider> works even though provider is not setup"
So right now I only have Twitch and Patreon setup.
They both work, so that's cool - really easy setup as well, thank you for making such a great utility :)

However, when I try to access `server/connect/discord` for example, without having it setup, it still forwards to the Discord OAuth page.

It's not really a huge bug, but it still seems... redundant...

Is there any way this could be addressed

[2018-06-18 08:57] simov commented on #91
Put that way it sounds like a bug, though that's actually a feature, I have tests for it. It's related to the [Dynamic Overrides](https://github.com/simov/grant#dynamic-override). I'll have to think about it.

In case your Node process sits behind proxy, for example Nginx, you can easily filter out any route except the configured ones.

[2018-06-18 19:42] Lordmau5 commented on #91
Ah, Dynamic Overrides, right. I didn't think of this.

Perhaps this could be added as a config option within the `server` config block?

[2018-06-19 20:50] simov commented on #91
Yes, a config option is the way to go, though I'm still trying to rationalize it. Either way the `/connect/:provider` route is going to be hit, the only difference would be that it will throw an error instead of trying to authorize. Still a better approach would be to handle that in the upper proxy layer, if there is one.

[2018-06-21 07:45] simov commented on #91
Alternative approach would be to handle the provider filtering in your own app server:

[code]

[2018-10-06 07:35] bitinn opened #93 "Expose custom agent parameter?"
Since `purest` [allows for it](https://github.com/simov/purest/issues/14), I would love to get the same support for `grant`. That would allow me to control the whole oauth + user profile fetching flow.

Namely, I want to use this with a proxy agent like: https://github.com/TooTallNate/node-proxy-agent

This is necessary as nodejs core still haven't expose an overridable `http.globalAgent` api yet,

[2018-11-10 10:42] simov commented on #91
@Lordmau5, I've published v4.2.0 where the Dynamic Override feature is now disabled by defaults. So all you need to to is bump the version in your project. Let me know what do you think.

Also just FYI the Dynamic Override is now an [option](https://github.com/simov/grant#dynamic-override).

Thanks for the feedback!

[2018-11-10 10:55] simov commented on #85
@Lichtjaeger I've published v4.2.0 with some basic support for [OpenID Connect](https://github.com/simov/grant#openid-connect), namely: Grant now tries to parse the returned `id_token` and verifies the `aud` and `nonce` claims. It also supports generating `nonce` for the authorization step.

Full `id_token` validation would require configuration discovery for the provider and its public keys, that

[2018-11-12 06:02] #85 closed

[2018-11-14 06:31] #91 closed

[2018-11-19 19:04] mitchellporter opened #94 "Issue with dynamic subdomain for Shopify"
I'm using Grant for a public app that will be available in Shopify's app store, which means it will be available to many different users. Grant allows us to use a hardcoded subdomain, or a dynamic subdomain. I need to use the dynamic subdomain but I'm running into some issues.

The first is that Shopify passes the subdomain via a query string param called `shop`, but Grant requires we set this val

[2018-11-20 18:18] mitchellporter commented on #94
Awesome thanks for the help @simov appreciate it!

[2018-11-20 18:18] #94 closed

[2018-12-07 11:19] simov commented on #93
:wave: @bitinn I was thinking about this issue, and while I may never expose the underlying HTTP library, I think it will be possible to ... well, monkey-patch it:

[code]

Just make sure you execute this code **after** Grant has been required.

The `options` argument expects [request-compose options](https://github.com/simov/request-compose#options) that in turn can be any HTTP option from the un

[2018-12-07 11:45] bitinn commented on #93
Thx I will give it a go when available, a bit busy lately

[2018-12-14 04:22] melvincarvalho opened #97 "Port is hard coded in express-4 example"
Port is hard coded to 3000 in

https://github.com/simov/grant/blob/master/examples/express-4/app.js

Would it be better to change the magic number into a variable or pull it in from the config?

[2018-12-14 06:42] simov commented on #97
Well that's just an example and I try to keep it short and straightforward. You most probably won't hardcode it in a production app. All examples follow the same pattern and the port is hardcoded in all of them.

[2018-12-14 06:43] #97 closed

[2018-12-31 15:22] jgomer2001 opened #99 "Supporting user profile gathering out of the box?"
This is maybe not in the scope of grant, but it would be nice to have means to easily obtain user profile data.

As the example shows https://github.com/simov/grant/blob/master/examples/user-profile/app.js, you have to have prior knowledge of the endpoints needed to get user data for every supported provider.

To build a system that relies on external providers for authentication, you have to go t

[2018-12-31 16:43] simov commented on #99
I agree. I was thinking about compiling a list of all user endpoints. In fact I had something similar in one of my other modules [here](https://github.com/simov/purest/blob/2.x/test/request/get.js), and the actual URLs are [here](https://github.com/simov/purest/blob/2.x/config/providers.json).

So it's doable, it can be implemented either as additional option in grant or a separate middleware, tha

[2018-12-31 20:41] jgomer2001 commented on #99
Would be great!

[2019-01-08 20:14] drvan opened #100 "koa access_token missing from session"
I cloned the `examples/koa-session-stores` example, filled in my provider's details and received the following error, despite the flow working successfully, indicating the the `grant` attribute was never added to the `session`:
[code]

If I change the transport to `querystring`, the `access_token` is available in `this.query`. The exact same `config.json` works with the `examples/session-transport

[2019-01-08 21:33] simov commented on #100
Can you post your configuration here (without the app credentials), and possibly the server code if you have something different than the example.

[2019-01-09 02:16] drvan commented on #100
Sure! Here's essentially the koa-session-stores, with a minor update to use koa2:
[code]
I'm using a private oidc provider that's backed by PingFederate, but here is the config:
[code]

As an additional test, I tested this with auth0 as a provider and everything worked correctly, so I'm leaning towards one of the following:
- There's a bug in the code that processes custom providers (I think this

[2019-01-09 08:03] simov commented on #100
Try to remove the `profile` scope and test it again.

The [koa-session](https://github.com/koajs/session) middleware encodes the entire session in a cookie, not just the session ID. So when redirect occurs all that data must be encoded in the HTTP headers, and some servers may reject headers above certain length.

I'm not seeing an option to control that behavior in koa-session, unless you specify

[2019-01-09 15:51] drvan commented on #100
Thanks for the help - you were completely right - the cookie was too large. I recorded the flow in Chrome devtools and the console spit out the following error:

`Set-Cookie header is ignored in response from url: http://localhost:3000/connect/websec/callback?code=[REDACTED]. Cookie length should be less than or equal to 4096 characters.`

Unfortunately removing the `profile` scope didn't help, bu

[2019-01-09 15:51] #100 closed

[2019-01-09 15:54] simov commented on #100
Thanks for the feedback, @drvan, this is really helpful! I'll let you know when the next release is out with the new option to limit the response data in Grant. :+1:

[2019-01-11 14:09] simov commented on #100
Hi @drvan, I've published the [response option](https://github.com/simov/grant#limit-response-data).

Note that by default the `response: 'tokens'` will return all tokens as strings, including the `id_token`. That's the smallest possible response.

In case you want to include the decoded `id_token` in the response data you have to use `response: ['tokens', 'jwt']`.

I've also pushed an [example](h

[2019-01-19 16:59] ekoeryanto opened #102 "Maintain using lerna"
Hi, I just want to suggest to using lerna to maintain this great repo.
suggested packages structure is
- packages/core
- packages/express
- packages/another
- ....

also i suggest to using scoped npm package
- @grant/core
- @grant/express
- @grant/another
- ....

THanks

[2019-01-19 17:40] simov commented on #102
Hi @ekoeryanto,

The files you've mentioned were never meant to be distributed as separate modules, grant *is* the module.

Can you elaborate on the benefits of the approach you are proposing?

[2019-01-19 18:02] ekoeryanto commented on #102
I'll explain that in a PR this week :pray: , for now I'm going to close this.

[2019-01-19 18:02] #102 closed

[2019-01-24 18:16] Igor-Lopes opened #104 "Does grant support token authentication ?"
Does grant support token authentication ? This is the use case of mobile apps, instead of doing redirections following the regular authentication flow of OAuth2 Web apps, the middleware would only process the access token sent in the request.

[2019-01-24 18:42] simov commented on #104
Hi @Igor-Lopes,

No, Grant is only concerned with the _Wep App_ flow of OAuth 2.0 and with OAuth 1.0a

For the other types of login flows, available in OAuth 2.0, you don't really need a middleware that handles redirects and persists state. You can implement it yourself pretty easily.

[2019-01-24 18:49] Igor-Lopes commented on #104
Hi @simov ,

Thanks for your reply !

[2019-01-24 18:49] #104 closed

[2019-02-22 00:17] RomanMinkin opened #106 "Self signed certificates"
Trying to use this library with the OAuth2.0/IODC server hosted with self signed certificate and getting this error on callback/verify call
[code]

Is there a way to set something like `new https.Agent({rejectUnauthorized: false}` to the underlying request library?

Thank you in advance, pretty nice library btw!

[2019-02-22 07:43] simov commented on #106
Does it work if you run the app with:

[code]

Other than that the underlying HTTP client can be monkey-patched like this https://github.com/simov/grant/issues/93#issuecomment-445202851

Let me know if any of the above works for you.

[2019-02-22 17:01] RomanMinkin commented on #106
@simov, yes, `NODE_TLS_REJECT_UNAUTHORIZED=0` works, but it does it for all the connection in the process :(
Monkey-patche also worksm with a little addition is that `grunt` must be required right after and not before the patch
[code]

Thank you for the quick replay!

[2019-02-22 17:01] #106 closed

[2019-03-01 09:24] tiaod opened #108 "Wechat support"
https://mp.weixin.qq.com/wiki?t=resource/res_main&id=mp1421140842

[2019-03-01 16:08] tiaod opened #110 "Feature request: Dynamic override from database"
Passing the secret as querystring is not safe, I think maybe it's better to load the configurations from database.

[code]
- `/connect/twitter/myapp` will load the config from database.

[2019-03-03 23:08] #108 closed

[2019-03-05 08:32] simov commented on #110
That's an interesting idea, I'll have to think about it.

In the meantime you can probably set your dynamic configuration directly on the `query` object that's attached to the `request` argument:

[code]
[code]

Then if you navigate to `http://localhost:3000/connect/twitter/foo` you'll be able to login using the credentials set in the middleware before Grant.

I have tested it only with Express, b

[2019-03-05 16:03] tiaod commented on #110
This is fine when using express 4.x.

However, since express 5.0, they make `req.query` a getter instead of added by middleware.
https://github.com/expressjs/express/issues/3472
https://github.com/expressjs/express/issues/2215

[2019-03-05 17:46] simov commented on #110
Yes, I was thinking about something similar. Well, it's a perfectly valid solution for JavaScript, but nowadays it looks more like a monkeypatch.

I'll definitely think about other possible solutions.

[2019-03-12 09:19] mluggy opened #111 "Samsite session cookie breaks twitter integration"
[code]

yields this for twitter: **Grant: missing session or misconfigured provider**

Any specific reason?

[2019-03-12 13:08] simov commented on #111
The cookie is not being set when you are redirected to the third-party web site to login. And therefore when you are redirected back to your web site the session is missing, because the cookie was never sent to the third-party server.

[2019-03-13 09:03] simov commented on #110
I'm thinking about allowing the users to set the `req.session.grant` key before entering the Grant routes. That's the session key [used internally](https://github.com/simov/grant#session) by Grant.

[2019-03-14 05:23] sometest opened #112 "Autorefresh tokens"
My Oauth provider gives expirable access_token and refresh_token. Is it possible to configure Grant for autorefresh?

[2019-03-15 07:07] simov commented on #112
No, this module is only concerned with the initial authorization. Refreshing your token is really easy, you just have to make request to the token endpoint with `grant_type: 'refresh_token'`.

[2019-03-15 09:11] #112 closed

[2019-03-24 15:21] #111 closed

[2019-04-01 12:51] sparzan opened #114 "Linkedin Lite Profile Retrieval Process"
1) I'm receiving the following linkedin keys (which i slightly obfuscated). anyone knows what's the next path/graph call to retrieve the user's id, name and/or email? i tried linkedin/microsoft documentation and either refered to v1 or receiving invalid access_token.
[code]
2) when requesting for this scope ['r_liteprofile', 'r_emailaddress'], grant still requests for the basic (bigger) profile. c

[2019-04-01 17:30] simov commented on #114
Try this endpoint `https://api.linkedin.com/v1/people/~`. You have to use HTTP client that supports OAuth 1.0a.

[2019-04-05 09:12] binarymee opened #115 "Aweber Integration"
I am planning to use **grant** as middleware for all the integrations in my application. I was trying out basic OAuth 2 flow and a sample integration with Salesforce. It worked like a charm. I started facing issues when I wanted to integrate [Aweber](https://api.aweber.com/) using grant.  It uses OAuth 1.0a.
Till step2, I am not facing any issues. On Step 3 where the grant is making a [post reques

[2019-04-06 09:01] binarymee commented on #115
I had a breakpoint before the request is made with `request-compose` and got the headers and tried in postman.

I got the following response from Aweber.

[code]

So it is clear that the signature generated by [oauth-sign](https://github.com/request/oauth-sign/blob/master/index.js#L79) is not matching what is expected in Aweber.
I used another library [OAuth1.0a](https://github.com/ddo/oauth-1.0a#

[2019-04-06 11:48] simov commented on #115
Hi @binarymee, thanks for the detailed report!

Well, I can't register on aweber.com without giving my credit card number, and I have a policy for myself to not register on such services just to test their OAuth flow.

Anyway, just by looking at their docs it seems that they are using non-standard OAuth parameters in the the third request: `resource_owner_key` and `resource_owner_secret`. As you c

[2019-04-06 13:53] #114 closed

[2019-04-07 06:10] binarymee commented on #115
Hi @simov , Thank for getting back to me.
I added the following configuration and tried.
[code]

It didn't work. I got an empty response again. In their documentation, they have given examples based on [this python library](https://github.com/requests/requests-oauthlib). I guess they have named keys for `token` and `token_secret` to   `resource_owner_key` and `resource_owner_secret` respectively.

[2019-04-07 07:34] sparzan commented on #114
1. arrrg, xml on v1 :) and it says "This resource is no longer available under v1 APIs"
2. any idea?

[2019-04-07 17:13] simov commented on #99
Check out [grant-profile](https://github.com/simov/grant-profile) about the ongoing progress on this issue. Additional background information can be found in this PR https://github.com/simov/grant/pull/113

[2019-04-13 17:09] simov commented on #115
Without proper way for me to test it, it will be really hard for me to figure out what's the problem. I guess it's something small, because oauth-sign is used in request (the module), and also request-oauth is extracted from there too. You can also check out all of the providers in Grant that are tested and work without a problem with this setup (currently 28 in total).

[2019-04-13 17:12] simov commented on #114
Actually no, I haven't used the LinkedIn's API in a long time. Note that they also support OAuth 2.0, and for that you have to use `linkedin2` in Grant for configuration key, and then `/connect/linkedin2` to login.

[2019-05-15 09:25] illarionvk opened #117 "MODULE_NOT_FOUND error if used with namespaced @hapi/hapi package"
The [Hapi version check][version-check] in Grant causes MODULE_NOT_FOUND error if Hapi package is installed as `@hapi/hapi`.

[code]

I'm working around this issue by requiring the consumer file directly:

[code]

Hapi universe started moving npm packages to `@hapi/` namespace since Hapi v18.2.

[version-check]: https://github.com/simov/grant/blob/d44968eeb232f2c7d9a7803f9997e44e020ab3ee/grant.js#

[2019-05-15 16:35] simov commented on #117
Thanks for the feedback, @illarionvk! Yes, I know they are moving into their own namespace. I'll push a fix shortly.

[2019-05-19 10:47] simov commented on #117
Fixed in v4.5.2

[2019-05-19 10:47] #117 closed

[2019-05-21 19:06] ivanosipov95 opened #118 "Feature request: Additional response-data-transport options"
Hi there,

Thanks for the library. I successfully use it for one of my projects.

Do you have any plans for `transport`? According https://github.com/simov/grant#response-data-transport we have two options: `querystring` and `session`. We used `querystring` by default and security check showed that to be more secure we shouldn't put sensitive data in URL. In the project, we use token-based authent

[2019-05-21 20:05] ivanosipov95 commented on #118
https://github.com/simov/grant/tree/master/examples/jwt this example helped me. I got that sessions are required

[2019-05-21 20:05] #118 closed

[2019-05-30 14:41] chris74a opened #119 "Linkedin url"
Hello,
I do not know if you are always supporting this repo, but the linkedin url for v2 is https://www.linkedin.com/oauth/v2/authorization

Maybe it will save much time for others! ;o)

[2019-05-31 14:17] simov commented on #119
Thanks @chris74a I'll have a look.

[2019-06-02 00:16] flyboarder opened #120 "Azure AD B2C integration"
Would be great if we could use grant with AAD and AAD B2C

[2019-06-02 16:06] simov commented on #120
Just by looking at the docs ([oauth2](https://docs.microsoft.com/en-in/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code) and [openid](https://docs.microsoft.com/en-in/azure/active-directory-b2c/active-directory-b2c-reference-oidc)) it seems that it should be totally possible.

Though for some reason I wasn't able to login using the recommended URLs:

[code]

I tried with the fo

[2019-06-02 18:13] simov commented on #119
@chris74a I've updated the URLs for v2 https://github.com/simov/grant/commit/405e9c8aab6d6bd99e75e7188b072e08e26a0048

Note that you have to use `/connect/linkedin2` when logging in. The reason why is because `linkedin` was used for v1, and even though it's no longer supported, it still works for people having old apps. I'll have to remove it at some point.

[2019-06-06 10:03] KidkArolis opened #121 "Race condition when saving session and redirecting"
I'm running into an issue, which I think matches exactly what's being discussed here: https://github.com/expressjs/session/issues/309.

[code]

I'm not 100% sure this is exactly what's happening, but it looks like it. I will try to wrap grant's redirect in `req.session.save(() => { res.redirect() })` to see if that helps, since I am generally able to reproduce this fairly easily.

[2019-06-08 06:46] simov commented on #121
See https://github.com/simov/grant/pull/122#issuecomment-500101266

[2019-06-08 06:46] #121 closed

[2019-06-11 23:54] millette opened #123 "Fastify integration"
[Fastify](https://github.com/fastify/fastify) has almost 11,000 stars on github, over 50,000 weekly downloads, is depended upon by 240 packages and claims to be [very fast](https://github.com/fastify/fastify#benchmarks).

I'd like to see it supported, hopefully pitch in.

Perhaps we could envisage splitting up the modules (grant and grant-profile) according consumers, but that would be a breaking

[2019-06-12 00:06] millette commented on #110
I also noticed that using `{ dynamic: true }` was also leaking the secret in the session (atob magic!) unless external storage was used.

I'm working on a very generic script, every provider should be configurable thru admin with no server restarts. For now, I configure grant to set all possible providers to an empty object.

[code]

Then, `grant.config.github` is preconfigured, without a key or s

[2019-06-12 05:05] simov commented on #110
@millette leaking data inside the session entirely depends on the session store implementation. It can be an in-memory one, but implemented properly with storing only the session ID inside the cookie.

You approach for lazy loading the app credentials is good, however, note that you don't need to set `dynamic: true` in this case.

`dynamic: true` is used to override config during the authorization

[2019-06-12 05:31] simov commented on #123
Fastify support would be great.

The design decision made to keep all consumers in one place, was to make the syncing between different implementations easier. In the end they all have behave the same. Also note that the consumers are very simple middlewares that also doesn't interfere with each other in the module as a whole.

So I don't see a problem with adding more consumers here. Probably the

[2019-06-12 11:02] millette commented on #110
Yes, just to clarify, first stab had a tiny defaults config with `dynamic: true`. With the pre-filled approach, I also removed `dynamic: true`.

[2019-06-13 00:35] millette commented on #123
I'll take a stab at fastify integration over the week-end if no-one beats me to it :-)

[2019-06-13 00:41] Banonevar commented on #123
+1 to fastify

[2019-06-13 04:43] simov commented on #123
Just don't bother adding all of the consumer tests as this will make reviewing it really hard for me. A single test somewhere will be just fine. Pick the easiest place, I can add the rest of the tests myself.

Also separate commit for the middleware itself will be nice, in case I decide to pick that, but not something else.

Thanks :+1:

[2019-07-04 20:02] max-l opened #124 "cookie-session instead of express-session ?"
It seems that grant requires express-session,

I want to use cookie-session:  https://github.com/expressjs/cookie-session

It seems that I could follow this example:
  https://github.com/simov/grant/blob/master/examples/jwt/app.js

destroy the express-cookie when it is created, and replace it with a cookie-session, but the problem is that cookie-session also uses req.session to expose session data

[2019-07-06 10:11] simov commented on #124
Fixed in https://github.com/simov/grant/commit/d39902b43520d5f67db1f74b451b8b897c92e7b5

[2019-07-06 10:11] #124 closed

[2019-07-19 17:43] AaronNGray opened #128 "Is there an equivalent to passport-local on Grant ?"
It there an equivalent to passport-local https://github.com/jaredhanson/passport-local that allows Grant to have a local strategy for login ?
[code]
I am ideally wanting to be able to provide both local login and OAuth2 based login. And want to use Grant as passport is way too cumbersome and badly coded. Grant seems a far far cleaner implementation.

[2019-07-19 19:11] AaronNGray opened #129 "Deprecated Nightmares"
[code]

[2019-07-19 19:13] AaronNGray opened #130 "Windows nightmare 'npm run build` dependant upon bash"
[code]

[2019-07-19 19:14] AaronNGray opened #131 "dependency on core-js"
This should not be encouraged core-js is a very bad polyfill library that is bloatware both in its builder and also in generated code.

[code]

[2019-07-19 20:52] simov commented on #131
No idea which dependency is using core-js TBH. I guess that's used by some of the build modules, then that affects only the backward compatibility that I still have for node 4 and 6, which I'm going to drop off soon anyway.

[2019-07-19 20:52] #131 closed

[2019-07-19 20:54] simov commented on #129
These are dev deps, and there is a reason why I'm still using an older version of Hapi there. Once I drop support for Node 4 and 6 will bump the version of Hapi as well.

[2019-07-19 20:54] #129 closed

[2019-07-19 20:56] simov commented on #130
Build is used only for building backward compatible version for Node 4 and 6. I run it before publishing the module. You don't have need to run it.

[2019-07-19 20:56] #130 closed

[2019-07-19 20:59] simov commented on #128
Thanks @AaronNGray!

Grant is only concerned with OAuth, and more specifically either OAuth1.0a or the OAuth2.0 `authorization_code` grant type.

You can use both Grant and some other middleware for user/pass authentication in your app.

[2019-07-19 22:11] AaronNGray commented on #128
It would be nice to have a basic example with local authorization with fixed username and password just to show people how it can be done.

[2019-07-19 22:22] AaronNGray commented on #128
There used to be a very good site once when passport first came out that gave example logins to all the Auth2 servers as well as example UI access to all of the Facebook and Twitter API's.

[2019-07-20 06:08] simov commented on #128
OAuth along with OpenID Connect are used for Federated Identity, meaning that the goal is to never let your users enter their passwords directly on your server, but instead delegate that to a third-party Identity Provider.

Grant helps you to easily configure and leverage such provider(s), whether that be a third-party one, or your own, hosted somewhere on your stack. Then you have to make the dec

[2019-07-27 22:46] iyobo opened #133 "LDAP support?"
Will grant ever support LDAP?

[2019-07-28 07:45] simov commented on #133
I think that falls out of scope for this module. Check out [ldapjs.org](http://ldapjs.org), seems like a good client/server implementation for LDAP.

[2019-07-28 15:59] sscarduzio opened #134 "Hapi v17+ path prefix not working"
Hello, I'm trying to make a twitter integration work, look at this code:

[code]

When I navigate to:
`http://localhost/prefix/connect/twitter`

the flow works but ends up into:
`http://localhost:3000/connect/twitter/callback?oauth_token=XXXXXXX`

 instead of:
`http://localhost:3000/prefix/connect/twitter/callback?oauth_token=XXXXXXX`.

Why is that?

[2019-07-28 17:18] simov commented on #134
You have to set the prefix in your OAuth app as well:

[code]

[2019-07-31 19:26] binarymee opened #135 "Issue with Grant and hapi session management with multiple apps"
I am using grant extensively in my hapi 16 application.
We have an Apps and Integration page and I am using the grant to connect to all the third parties listed there.
I have a critical issue with session management in the grant.

My callback URL route is

[code]
In my strategy `connect`, I have done

[code]

I use `dynamic` to send important information back to the application like the ID of the

[2019-07-31 19:32] binarymee commented on #115
Aweber has release OAuth 2 flow now. The following custom configuration works
[code]

[2019-07-31 19:32] #115 closed

[2019-07-31 19:39] simov commented on #115
Thanks @binarymee I'll add it in the next release :+1:

[2019-07-31 21:05] simov commented on #135
Where exactly do you call `request.yar.reset()`, and where `request.yar.get('grant')` is returning `undedined`?

[2019-08-01 09:39] binarymee commented on #135
`request.yar.get('grant')` is called while hitting the callback URL and `request.yar.reset()` is called after the callback has been processed.

[2019-08-01 10:39] binarymee commented on #135
@simov , We have multiple environments where we test the applications. This issue I am seeing only in one environment.
The difference in that environment with the others are multiple instances are running. So OAuth steps the initial one can go to one instance and final callback can be triggered to other. By any chance, this could be the reason?

[2019-08-01 10:45] simov commented on #135
I'm not sure I understand the topology of your infrastructure. Multiple instances of what? Hapi? Grant? Can you explain your setup in more details?

[2019-08-01 10:49] binarymee commented on #135
That was my bad. I mean, multiple servers(EC2 instances) will process the request made by the client. In the OAuth flow, the initial request can go to `Server1` and the callback can be triggered on `Server2`.

[2019-08-01 10:52] simov commented on #135
Do you use an external session storage, like [some of these](https://github.com/simov/grant/tree/master/examples/hapi-session-stores)?

[2019-08-01 10:56] binarymee commented on #135
I don't. Should be the reason.
I was under the wrong assumption that the session management happens with the cookie stored in the browser. If yar relies on the server to store and retrieve without a common store, that could trigger this problem.

[2019-08-01 11:07] #135 closed

[2019-08-01 11:08] binarymee commented on #135
Thanks for the help @simov!

[2019-08-01 11:14] simov commented on #135
I'm seeing 3 options here:

1. Setup an external session store
2. Sent the entire session with the cookie - there have to be an option for that, just make sure you are not encoding sensitive data in that cookie! Also cookies have size limits on some servers.
3. Run Grant in a separate micro instance in your private network. When a user makes request to your app server, redirect it to the Grant ser

[2019-08-01 11:17] simov commented on #135
The last chapter in [this article](https://dev.to/simov/oauth-like-a-boss-2m3b) explains exactly that scenario.

[2019-08-01 11:30] binarymee commented on #135
External session store looks much elegant and cleaner. I will be going with that :)

[2019-08-04 18:12] simov commented on #134
Let me know if you have any other issues.

[2019-08-04 18:12] #134 closed

[2019-08-17 16:08] ohjames opened #137 "Not clear how to pass constant query params to authorize_url"
The atlassian oauth provider requires you to always pass `audience=api.atlassian.com&response_type=code&prompt=consent` to the "authorize url".

Now you could set `custom_parameters` to `['audience', 'response_type', 'prompt']` via `oauth.json` and then the user would always need to set `custom_params` to `{audience: 'api.atlassian.com', response_type: 'code', prompt: 'consent' }` in their configu

[2019-08-17 17:04] simov commented on #137
I don't see a problem with specifying a few keys in your configuration. Also note that `response_type` is set internally, so you don't have to set that explicitly. Can you give the link to the documentation you are looking at for Atlassian?

[2019-08-17 17:29] ohjames commented on #137
@simov It's here: https://developer.atlassian.com/cloud/jira/platform/oauth-2-authorization-code-grants-3lo-for-apps/

I guess it's okay to make the user set `audience` and `prompt` to the constant values, but you can guarantee a lot of people won't realise it's necessary. It makes the library a bit less plug and play.

[2019-08-17 17:47] simov commented on #137
Grant strives to be generic, and that comes at a price. Being generic makes it flexible, but the downside is that the user have to do some additional work for some of the providers.

The `custom_params` are called like that because they are not part of the OAuth spec. Supporting anything outside of the spec, like provider specific defaults is not feasible for this module. Imagine having to maintai

[2019-08-17 17:58] ohjames commented on #137
@simov Makes sense, and thanks for responding so quickly. As easy as it would be to support constant query params, it does sound like the start of a slippery slope. I'll open a PR with `atlassian` added to `oauth.json` after testing it out. They've only added the functionality very recently.

[2019-08-17 17:58] #137 closed

[2019-08-28 07:51] jirimoravcik opened #139 "ADFS integration"
Greetings,

I've been trying to make grant work with adfs.

this is my configuration (please do not try to add secret - it won't work):
[code]

this is the callback proxy:
[code]

The error given when using proxy is `error: Cannot read property 'grant' of undefined` that means that req.session is not defined.

When i try to manually take get params and call /adfs/callback with them i get `error=Gr

[2019-08-28 10:04] simov commented on #139
Your app `secret` is missing from your `adfs` configuration. Also are you sure you have a session store middleware mounted before Grant? That could explain the missing session.

The `callback` URL in Grant is used only internally, so trying to access it directly is not a good solution for troubleshooting issues.

[2019-08-28 10:46] jirimoravcik commented on #139
Hello,

as I mentioned before, ADFS works without a secret. If you provide a secret, the ADFS auth part will show an error instead of login screen.

Anyway, I have added express-session the the app and the issue with undefined session is fixed. Now I'm getting a 500 error which is related to grant-profile.
[code]

Is there any documentation that can I use to make a custom "profile fetch"? The gene

[2019-08-28 10:52] simov commented on #139
Probably this could help https://github.com/feathersjs/feathers/issues/1452#issuecomment-510559893

[2019-08-28 14:50] jirimoravcik commented on #139
Thanks for your help. This issue has been resolved - you can close it.

[2019-09-14 20:59] EloB opened #140 "Need guidance to implement OpenID connect for Steam"
I pulled all my hair and my face is bloody and I have no clue what I'm doing.

Can someone point me in a direction? I've search Google, Github and Stackoverflow without help.

https://steamcommunity.com/dev
https://steamcommunity.com/openid

I'm using Strapi so I cant take any shortcuts by using something else... :(

[2019-09-15 07:08] simov commented on #140
The confusion stems from the fact that Steam is an OpenID 2.0 provider, but not an OpenID Connect provider. Both standards are incompatible and the older one - OpenID 2.0 is deprecated.

Grant implements the OAuth standard for authorization, OpenID Connect is built on top of OAuth, and therefore is supported by Grant.

There are other libraries implementing the legacy OpenID 2.0

[2019-09-17 03:27] flyboarder commented on #120
@simov Attempting to get this working again, I am able to authenticate but I also get a 404 error regarding the user profile. Seems we need a `profile_url` and im not sure what this would be for azure ad b2c with azure ad graph api.

[2019-09-17 17:18] edwardsmarkf opened #141 "specifying the /oauth/<provider>/callback"
hello - first off, thank you for providing a uniform way to use node and oauth.

i am able to get the facebook connection working using localhost very simply.  however, when i try to go through an apache proxy, i continue to get "http://localhost/oauth/facebook/callback" embedded in the URL (below).  so, i am thinking there is some extra grant parameter to manually specifiy this URL callback value

[2019-09-17 18:41] simov commented on #141
What is your Grant config exactly?

[2019-09-20 19:43] flyboarder commented on #120
I have been able to confirm that the `req.session.grant.response` contains an `error` however the error body is my valid request data.

I have been unable to find anywhere in grant code that returns an error with data.

[2019-09-21 17:39] edwardsmarkf commented on #141
hi - thank you for answering me.  i am using feathersJs.   and this seemed
to work fine:

    "oauth": {
         "defaults" : {
                "protocol" : "https",
                "host" : "featherstest.website"
        },
      "facebook": {
        "key": "2XXXXXXXXXXXX7",
        "secret": "dXXXXXXXXXXXXXXXXXXXd"

however, i am wondering if there is any way the "defaults" could be
embedded i

[2019-09-23 00:44] JaneJeon opened #142 "Feature request: add LINE support"
Hi, first of all, love the library!

But as I was looking thru the list of identity providers, I noticed that LINE isn't there. While I'm sure nobody uses line outside of Japan, it's super duper popular there and I thought it would warrant inclusion.

Thank you

[2019-09-23 10:08] simov commented on #142
Sounds good, never heard of [line.me](https://developers.line.biz/en/docs/line-login/web/integrate-line-login/) before, I'll have a look.

[2019-09-24 21:25] #141 closed

[2019-09-24 21:31] simov commented on #141
@edwardsmarkf the `defaults` key is there only for convenience. Any option specified in it can be overriden in the providers below. Check out the [docs](https://github.com/simov/grant#configuration-scopes) about it.

[2019-09-25 18:29] edwardsmarkf opened #144 "Grant and ReverseProxy using an extra path element"
I have much success combining google and FB oauth into a single node script over ReverseProxy!  😁
However, when I attempt to insert another "pathname" into the proxy, the callback fails.  in other words, when I am using `https://domain.com/GRANT/` everything appears to work just fine in the proxy, both google and FB allow me to successfully log in.

But in the callback, I get back this:
 `The requ

[2019-09-25 18:58] simov commented on #144
You have to specify that path prefix in the redirect_url of your OAuth app (on the Google's and Facebook's app configuration page):

[code]

Then in your Grant config you have to specify `path: '/grant'` as well.

The `path` option is used for generating the `redirect_uri` that's being sent during the authorization step. You can read more about it [here](https://github.com/simov/grant#redirect-url

[2019-09-25 19:19] edwardsmarkf commented on #144
hello - i did that, otherwise both FB and google would give an error
message, since the specified callback has to match exactly (even the
trailing path slash).   would it be possible to send you a couple of
screenshots?  i feel as if i am very close to getting this resolved.

note:  i am hoping to run multiple node-oauth servers using different
ports, and thought using ProxyReverse with a pathname

[2019-09-25 19:28] simov commented on #144
Depending on your proxy configuration you might have to prefix your [middleware](https://github.com/simov/grant#path-prefix) as well.

[2019-09-25 21:34] edwardsmarkf commented on #144
hi -

sorry i am a bit confused.   but first off, THANK YOU for your assistance,
and a very special THANK YOU for creating and maintaining grant.  your
efforts are truly appreciated.

the apache proxy is very simple:

  <Location /grant/>
    ProxyPass http://localhost:3030/
    ProxyPassReverse http://localhost:3030/
  </Location>

here is the link i am being redirected to:

FB:  ( i go to  https

[2019-09-26 05:02] simov commented on #144
Paste your exact Grant configuration here (without credentials).

[2019-09-26 05:04] edwardsmarkf commented on #144
"oauth": {
        "redirect" : "/",
         "defaults" : {
                "protocol" : "https",
                "host" : "featherstest.website/feathers"
        },
      "facebook": {
        "key": "52XXXXXXXXXXXXX94",
        "secret": "74XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX8a",
        "scope": ["public_profile, email"]
      },
      "google": {
        "key": "81XXXXXXXXXXXXXXXXXXXXdi.apps.goog

[2019-09-26 05:06] simov commented on #144
Set `path: '/grant'` inside `defaults`.

[2019-09-26 05:12] edwardsmarkf commented on #144
like this?

        "defaults" : {
                "protocol" : "https",
                "host" : "featherstest.website",
               "path" : "/grant"
        },

 (sorry its late in the western USA but i am looking forward to getting
this working in the morning.....)

and once again, thank you very much.

Thank you,

Mark Edwards

On Wed, Sep 25, 2019 at 10:06 PM simo <notifications@github.co

[2019-09-26 16:49] edwardsmarkf commented on #144
hi simov -

using:  https://featherstest.website/feathers/oauth/connect/facebook

         "defaults" : {
                "protocol" : "https",
                "host" : "featherstest.website/feathers"
        },

this calls:

https://www.facebook.com/login.php?skip_api_login=1&api_key=526098801527394&kid_directed_site=0&app_id=526098801527394&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fdia

[2019-09-26 17:00] simov commented on #144
So this have to be something related to Feathers then. Why don't you try with one of the existing examples [here](https://github.com/simov/grant/tree/master/examples) first? Pick one, configure it, put it behind your proxy, see if it works. I have Grant deployed behind Nginx, using a custom path prefix.

[2019-09-26 17:44] edwardsmarkf commented on #144
very excellent suggestion!  thank you so much.

Thank you,

Mark Edwards

On Thu, Sep 26, 2019 at 10:00 AM simo <notifications@github.com> wrote:

[2019-09-27 17:45] edwardsmarkf commented on #144
just in case you are interested, your excellent idea worked perfectly using
`/grant/examples/basics` with

   defaults: {
      protocol: 'https',
      host: 'ccscares.services',
      path: '/grant'
    },

so thanks to your suggestion, we now know the issue is indeed with
feathers, and not with grant.

i have found something of a workaround that appears to work, using the new
path-name TWICE.

[2019-09-27 17:45] #144 closed

[2019-09-27 17:53] simov commented on #144
That's definitely helpful :+1:

[2019-09-27 19:45] edwardsmarkf commented on #144
bonus:  google worked right out of the box too!

Thank you,

Mark Edwards

On Fri, Sep 27, 2019 at 10:53 AM simo <notifications@github.com> wrote:

[2019-10-04 13:43] simov commented on #142
Added here https://github.com/simov/grant/commit/d3e261e284b5b1523196b0c1d652fac53d27c637 Let me know if it works for you.

[2019-10-04 15:22] #142 closed

[2019-10-22 08:02] flyboarder commented on #120
@simov I am still unable to get this working, using the `microsoft` provider as you suggested does not work with the Azure AD B2C.

[2019-10-22 08:26] simov commented on #120
I haven't had the chance to look at it again.

Just to confirm, you are able to retrieve the access token, but not able to get the user's profile, is that correct?

[2019-10-22 08:46] flyboarder commented on #120
I don't believe I can fully say that, I am able to get a token with this
[code]
However with the following I get an invalid_grant error.
[code]

More than willing to host some test infrastructure on Azure to get this working!

[2019-10-22 08:50] flyboarder commented on #120
@simov
Here is my current config for reference:
[code]

[2019-10-23 19:00] flyboarder opened #145 "Support Logout and OIDC Metadata"
Grant js should allow us to logout of the OAuth provider by forwarding a request to the OAuth providers logout url.

Also OIDC providers should have a metadata endpoint:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-openid-connect-code#openid-connect-metadata-document

Similarly to grant-profile we should be able to fetch the correct url using the metadata and a map

[2019-10-23 19:05] flyboarder commented on #120
Closing as I was able to get a token, I have learned that the token returned by Azure AD B2C cannot be used to access the graph api's (AzureAD Graph/Microsoft Graph). As such you need to use alternate methods of retrieving the user profile data.

[2019-10-23 19:05] #120 closed

[2019-10-23 19:16] simov commented on #120
Great! I was thinking about the same, so it makes sense. But can you share what is this other method to retrieve the user profile data in the case of AzureAD?

[2019-10-23 19:53] flyboarder commented on #120
You are able to register an Azure AD Application (not B2C application) on the Azure AD B2C directory that can access the graph api.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet#build-user-crud-operations-by-using-the-graph-api

For our use case, we skip grant-profile and pass the data in claims.

[2019-10-23 19:59] simov commented on #145
Thanks for the feedback @flyboarder!

Grant is not an OpenID Connect Certified client (yes there is such thing), so it doesn't claim to support the whole spec. Grant is more like OAuth transport layer then a fully compliant OIDC client or anything else.

That's the reason why [grant-profile](https://github.com/simov/grant-profile) is outside of it, because it falls out of scope. Similarly I have a

[2019-11-15 16:02] edwardsmarkf commented on #144
simov - i gave you a shout-out in my article:   [https://codeforgeek.com/implement-oauth2-using-auth0/](https://codeforgeek.com/implement-oauth2-using-auth0/)

[2019-11-15 16:41] simov commented on #144
Thanks man! Auth0 is great too :)

[2019-11-19 20:47] #84 closed

[2019-11-21 16:52] KidkArolis opened #146 "Adding support for cookie-session broke express-session save() logic"
Described in context here: https://github.com/simov/grant/commit/d39902b43520d5f67db1f74b451b8b897c92e7b5#r36073853

Haven't come up with a possible fix yet

[2019-11-21 17:52] KidkArolis commented on #146
As a workaround, I'm currently doing this in my app:

[code]

But obviously, would be great to fix in `grant`.

[2019-12-04 09:13] remcohaszing opened #148 "Add new transport option `state`"
Koa is based on middleware. This means middleware can run after the Grant middleware to process the response data instead of a callback URL. I suggest to add a new `transport` option named `state`. This makes Grant assign the response data to `ctx.state.grant.response` instead of `ctx.body`.

Current usage:

[code]

New usage:

[code]

[2019-12-09 00:33] samuelmtimbo opened #149 "How to refresh access token with grant?"
Pardon my naive, as I am still getting used to OAuth2 and grant, but I am failing to find a way to refresh an expired access token using grant. I expect that to be a fairly common scenario.

[2019-12-09 07:35] simov commented on #149
Hi @samuelmtimbo, refreshing an access token is pretty trivial. Pick an HTTP client and make request to the refresh token endpoint of your provider, you don't need Grant for that. Check out these [docs](https://www.oauth.com/oauth2-servers/access-tokens/refreshing-access-tokens/) or the documentation of the provider you are using.

[2019-12-09 14:35] samuelmtimbo commented on #149
Hi @simov. The docs point out the process of refreshing an access token has similarities with the process of getting the access token for the first time. It requires sending the `client_id`/`client_secret` combination and uses the same endpoint (`authorize_url` in `oauth.json`) to name a couple. I feel that by implementing this logic separately in my server I would be duplicating work already done

[2019-12-09 15:07] simov commented on #149
The problem is that you have to store your `refresh_token` somewhere. Grant is only concerned with getting you to a point where you have your `access_token` and `refresh_token`, but where you store them after that is up to you.

That might be the session itself, in case you are using external session store, but it might be something else. So that's implementation detail on your end, and that's why

[2019-12-09 15:49] samuelmtimbo commented on #149
That makes sense. What if such endpoint received the `refresh_token` in the request body? The handler's only job would be using the credentials and endpoints already available to Grant to issue a request with `grant_type: “refresh_token”` and parse the response with the same logic of `"connect/[provider]/callback"`.

[2019-12-09 15:56] samuelmtimbo commented on #149
The main reason behind this feature is that it would evolve alongside with Grant, growing as new providers are added and possible custom logic that come with them.

[2019-12-09 15:58] simov commented on #149
Just keep in mind that storing the `refresh_token` in the browser is not a good idea. So that kind of defies the purpose of having an endpoint that accepts it.

I think it's best to pass some user identifier to the refresh endpoint and based on that find the `refresh_token` in your store and make the request. So again you need some state to read from.

[2019-12-09 21:15] samuelmtimbo commented on #149
I understand. I'd rather not influence a bad practice. Thanks for the attention!

[2019-12-09 21:15] #149 closed

[2019-12-10 07:28] simov commented on #149
Not a problem @samuelmtimbo, and I appreciate your feedback! It's not a bad idea either, it's just that most likely it won't be implemented in Grant. Might be a separate library or a Grant compatible middleware like [grant-profile](https://www.npmjs.com/package/grant-profile) and [grant-oidc](https://www.npmjs.com/package/grant-oidc).

[2019-12-28 13:25] simov commented on #148
Currently the following is possible using the `transport: 'session'` option:

[code]

It still redirects to whatever your `callback` path is set to, but at least you have the response data inside the session instead.

[2019-12-28 14:14] simov commented on #146
I think this should do it:

[code]

It checks the prototype for the presence of a callback instead of the instance.

Can you check that out on your end? It seems to be working with my local example. Otherwise I'm going to push it to the next release.

[2020-01-01 13:33] simov commented on #146
The fix was published in v4.6.6, let me know if it works for you.

[2020-01-01 13:33] #146 closed

[2020-01-07 04:39] tecky-dev opened #150 "Typescript Support"
I think this package is awesome for educational purpose since it is much more generic than the passportjs library. I wonder if there is any plan to have Typescript support?

[2020-01-07 07:38] simov commented on #150
Not sure if you ask about migrating the project to .ts files, or just adding separate type definitions file, so I'll answer both:

Migrating the project to .ts files - no. I'm not interested in that. I mean, I'm not interested in making what's arguably the best dynamic language into a strict one. Otherwise I agree that beginners should start with a strictly typed language just to learn how to prog

[2020-01-07 07:51] tecky-dev commented on #150
I was thinking the second one. But thanks for clarifying that. As I mentioned above I think the package is a much better alternative than passportjs since it does not impose unnecessary assumption on the flow of the program which makes it easier to reason than passportjs.  Keep up the good work! Thank you!

[2020-01-07 07:51] #150 closed

[2020-01-14 21:49] TimIsOverpowered opened #151 "patreon oauth"
Patreon oauth requires an user-agent header now otherwise it will return IM NOT A ROBOT captcha test. [ref](https://www.patreondevelopers.com/t/cloudflare-im-not-a-robot-blocking-api/2607/7)

[2020-01-15 15:57] simov commented on #151
Thanks for the heads-up, it should be an easy fix. I'll include it in the next release.

[2020-01-26 13:07] simov commented on #148
Transport `state` landed in v4.7.0

The documentation and examples are a bit scarce at the moment, but you should be able to figure out how to use it.

Thanks for the idea!

Here is the relevant commit in the [readme](https://github.com/simov/grant/commit/3b04eb69a278165ae9be7ba7a06e8b85da21c5e5).

Let me know if you have any issues.

[2020-01-26 13:07] #148 closed

[2020-01-26 13:08] simov commented on #151
The `user-agent` header is set now set on all internal requests in v4.7.0

[2020-01-26 13:08] #151 closed

[2020-01-26 13:13] simov commented on #110
Dynamic input state overrides landed in v4.7.0

The documentation and examples about it are a bit scarce at the moment, but here is the relevant commit in the [readme](https://github.com/simov/grant/commit/3b04eb69a278165ae9be7ba7a06e8b85da21c5e5).

In summary now you can use the request/response lifecycle state of your HTTP framework of choice to set dynamic overrides before entering the Grant ro

[2020-01-26 13:13] #110 closed

[2020-01-29 03:38] parkerproject opened #152 "Mailchimp as provider"
As anyone successfully made grant work for Mailchimp as the provider?  I have tried everything possible but all I get is the `code`, it doesn't make the final call to get the `access_token`

[2020-01-29 07:36] simov commented on #152
Most likely your redirect URL isn't correct. You have to set it to point back to your server. For example if your server is listening on `http://localhost:3000` then you can have the following configuration:

[code]

And then in Mailchimp's UI for your OAuth application you have to set the Redirect URL to be: `http://localhost:3000/connect/mailchimp/callback` this route is used internally by Grant

[2020-01-29 18:56] parkerproject commented on #152
I see what my issue was, I used `localhost` in the config file whilst I use `127.0.0.1` in the Mailchimp redirect URI. Grant considers those to be 2 different URI

[2020-02-02 14:55] parkerproject commented on #152
I reopened this because I notice `error=Grant%3A%20missing%20session%20or%20misconfigured%20provider` when I use subdomain as host:
[code]

and Redirect URL to be: `http://subdomain.example.com/connect/mailchimp/callback` on OAuth UI

[2020-02-02 15:09] simov commented on #152
Is your server reachable at `http://subdomain.example.com`? Also your `protocol` is set to `https`, but your redirect URL is using `http`.

[2020-02-02 15:18] parkerproject commented on #152
Sorry that was a typo, my redirect protocol is “https”
My host is reachable at the subdomain, that was just an example

Sent from my iPhone

[2020-02-02 16:39] simov commented on #152
That means something is wrong with your session. Can you also post your entire configuration, without sensitive data in it of course.

[2020-02-02 16:56] parkerproject commented on #152
[code]

redirect_url on Mailchimp App : `https://app.example.co/connect/mailchimp/callback`

express server:
[code]

[2020-02-02 17:37] simov commented on #152
Which URL you are using to connect?

It have to be `https://app.example.co/connect/mailchimp`

[2020-02-02 18:25] parkerproject commented on #152
`https://app.treck.co/connect/mailchimp`

[2020-02-02 19:22] simov commented on #152
Can you show me the express, your session middleware, and grant version here, just copy/paste them from package.json

[2020-02-02 19:25] parkerproject commented on #152
[code]

[2020-02-02 19:31] simov commented on #152
Is your server by any chance behind a load balancer, meaning do you have multiple instances of your grant/express/app server running?

[2020-02-02 19:42] parkerproject commented on #152
I'm using `pm2 cluster mode` could that be the issue. I'm also using Nginx proxy

[2020-02-02 19:57] simov commented on #152
Yes, in this case you have to use external session store, because you are running multiple instances of your application and `express-session` is an in-memory session store. Have a look at the [express session store examples](https://github.com/simov/grant/tree/master/examples/express-session-stores), and also the list of [compatible session stores](https://www.npmjs.com/package/express-session#co

[2020-02-02 20:01] parkerproject commented on #152
You are right, I just changed to `fork` mode in `pm2` and it worked. thanks for your help on this, I will check the other session stores

[2020-02-02 20:01] #152 closed

[2020-02-17 13:02] tomblanchard opened #153 "`cookie-session` and `secure: true` issues"
I've developed a public Shopify app using Express/Grant/cookie-session, this has been working fine for the past few months but Shopify has now imposed a new requirement for all cookies to be set with the config `secure: true, sameSite: 'none'` ([see more about this on their tutorial here](https://shopify.dev/tutorials/migrate-your-app-to-support-samesite-cookies#embedded-apps-and-the-samesite-attr

[2020-02-17 18:54] tomblanchard commented on #153
I figured it out in the end, just needed this:

[code]

[2020-02-17 18:54] #153 closed

[2020-03-03 01:31] guyellis commented on #150
@simov I was wondering if you would accept a PR to add a `.d.ts` definition file for TypeScript to this repo based on one that I've created and started using in another project: https://github.com/guyellis/plant/blob/master/lib/types/grant.d.ts

This shouldn't get in the way of anything that you are doing in this (amazing) project and would benefit other Typescript users of this project.

The alte

[2020-03-03 18:07] homerjam opened #155 "How to dynamically set host/callback?"
Hi, I'd like to dynamically set the host in the default config and the provider callback url on request. Is this possible?

Thanks

[2020-03-03 21:53] simov commented on #155
The `protocol` and the `host` options are only used to generate the `redirect_uri` option, that is where your OAuth apps redirect users back to your server.

You can use a [Dynamic Override](https://github.com/simov/grant#dynamic-override) to set the `redirect_uri` dynamically.

[2020-03-03 22:02] homerjam commented on #155
Ah, great. Thanks for your help, this library is super useful!

[2020-03-03 22:02] #155 closed

[2020-03-25 09:41] rdewolff opened #156 "Support Fusionauth"
Is there any plan to support FusionAuth ?

C.f. : https://fusionauth.io

[2020-03-26 07:40] simov commented on #156
Thanks for the feedback, never heard of them, I'll have a look.

[2020-03-26 09:12] rdewolff commented on #156
Great, hope this will will turn out well :)

[2020-03-28 17:48] simov commented on #156
:wave: can you check if that configuration works on your end:

[code]

The `http://localhost:3000` is where your fusionauth server listens to, so you may have to update it. Then you have to set your app `key` and `secret` as well as the `tenantId`. The `/hello` callback is where you will receive the response data in your Grant client server.

Then all you need to do is to navigate to `http://local

[2020-03-31 15:30] justinmeid opened #158 "State/Nonce size is too small for Login.Gov"
I am trying to setup [Strapi](https://github.com/strapi/strapi) with a new auth provider ([Login.gov](https://login.gov/)). They use grant for auth. The issue I am currently having is that Login.gov wants state and nonce to be at least 32 characters in length. I know this is probably an edge case but is there any reason this 10 couldn't be changed to 32?

https://github.com/simov/grant/blob/c8e036

[2020-03-31 16:32] simov commented on #158
No, this can be updated. Can you point me to the exact URL of the login.gov docs regarding this issue? Also are you sure that rule applies for both state and nonce, or just one or the other?

[2020-03-31 16:36] justinmeid commented on #158
Sweet, thank you for the quick response! If you go [here](https://developers.login.gov/oidc/#authorization) and scroll down a little bit to state/nonce it appears that they both require "a unique value at least 32 characters in length"

[2020-03-31 16:41] simov commented on #158
Thanks, I'll have a look at it. In the meantime you can pass both `state` and `nonce` as strings that are long enough in your configuration.

[2020-04-01 09:01] simov commented on #158
Just read through the docs and as it seems the `pkce` flow should work with Grant. Here is an example config that you can try:

[code]

The `defaults` is where your local server is listening to. That also reflect your `redirect_uri` that you have to set for your app: `http://localhost:3000/connect/logingov/callback`. To login just navigate to `http://localhost:3000/connect/logingov`. Let me know i

[2020-04-04 19:54] justinmeid commented on #158
Thanks so much for looking in to it! Following the steps above, I was easily able to get `pkce` working. After I got that working I went on and got `private_key_jwt` working. Check out [this repo/commit](https://github.com/justinmeid/strapi-logingov/commit/d4535b541bc9784061f85eba0daae40bb1f017af) if you are interested in seeing how its implemented. I used [openid-client](https://github.com/panva/

[2020-04-05 05:56] simov commented on #158
Thanks! This is definitely going to help me implement this feature quicker here. I'm glad you got it working on your end. Lets keep this issue open for now, I'll let you know when these changes land here as I'm currently working on a larger refactoring of the code base.

[2020-04-07 15:35] insidewhy opened #159 "github login (with koa 2) not returning "access_token" via response bod; in 4.7.0 (works in 4.6.6)"
Using koa. In `4.6.6` I can get `const authData = querystring.parse(ctxt.response.body)` and `authData` has the `access_token` I need. With `4.7.0` I see that `ctxt.response.body` is now `undefined` instead of the object that was returned with `4.6.6`.

[2020-04-07 15:47] insidewhy commented on #159
With 4.7.0 it seems I can get the access_token via `ctxt.session!.grant.response.access_token`.

Maybe I was supposed to be doing this all along?

[2020-04-07 18:09] simov commented on #159
This is controlled by the `transport` options. You probably now have `transport: 'session'` set. If omitted `transport` defaults to `querystring`, meaning you either receive the response data in the session object or in the querysting.

[2020-04-08 02:36] insidewhy commented on #159
@simov There were no code changes, only an upgrade from `4.6.6` to `4.7.0`, but I did always have `transport: 'session'` set, yep.

[2020-04-08 05:13] simov commented on #159
Can you post the code of your callback handler, at least the relevant bits? You are saying that you have this in your callback:

[code]

But Grant never returns the response data there, it's either in the request querystring or in the session.

[2020-04-08 07:09] insidewhy commented on #159
It used to return it there, but not since `4.7.0`. Since I should be pulling it from the session I'll continue to do that.

[2020-04-08 07:09] #159 closed

[2020-04-09 15:44] justinmeid commented on #158
Sounds good! Let me know if there is anything I can do to help :) I am new to contributing to open source but would to love to help where I can

[2020-04-19 09:55] #119 closed

[2020-04-30 10:46] jeswin opened #161 "Callback UR"

[2020-04-30 11:16] jeswin opened #162 "Callback URL may not be parsed correctly by the regex"
The regex that is used to match /connect/:provider/callback doesn't seem to be handling some (but not all) Google accounts.

Here are a couple of different redirects issued by Google:

1. This works

[code]

2. This does not work.

[code]

The difference is that in the first case, the slash is encoded as %2F and it matches the regex defined.

From lib/handler/koa-2.js
[code]

According to the impl

[2020-04-30 12:06] simov commented on #162
That's interesting because I used the internal module responsible for path matching in Express to generate this RegExp, so theoretically it should be correct.

In which case do you receive `code=4%2FzAHfquZ` and in which `code=4/zAHfquZ`?

[2020-04-30 12:07] simov commented on #161
Duplicate of #162

[2020-04-30 12:07] #161 closed

[2020-04-30 12:30] jeswin commented on #161
Oops. I don't know how this happened - might have been my two year old. Sorry about it.

[2020-04-30 12:34] jeswin commented on #162
Unfortunately, I can't pin that down yet. When I use my google apps account, I see this problem. With a couple of other accounts I don't. I can investigate this a bit more. Also, Firefox can handle this without issues - while Chrome can't.

I can investigate futher. Thank you.

[2020-05-01 02:19] zerbzman opened #164 "Dynamic: HTTP using GET Not working"
Hey,

I have a custom parameter that I am trying to set using a get request. I set my custom parameter {"force_login": false} in my config. Then I set my GET request to "connect/pco?force_login=true". Upon clicking the link, the parameter "force_login" never gets overridden to true and the call to the provider is the same as the default. If I log req.session.grant.dynamic right after, it says forc

[2020-05-01 08:35] simov commented on #162
You are correct there was a bug in the path matching regexp. Somehow I managed to add the wrong path matching regexp from a feature that I'm still developing. Obviously that means my tests doesn't cover that either which I'll be fixing pretty soon.

The fix was published in v5.0.1 let me know if it works for you.

[2020-05-01 08:39] simov commented on #164
Hi,

You should have something like:

[code]

Then you have to pass your custom parameter as `custom_params[force_login]=true` but it have to be URL Encoded as well:

[code]

Let me know if it works for you.

Also note that there was a bug in the path matching regexp for Express and Koa that I just fixed and published as v5.0.1 It might not be related to this issue but I recommend you to install i

[2020-05-01 10:20] jeswin commented on #162
And it works!

I want to thank you for this wonderful project, which is of significant help to thousands of developers. And for how politely and professionally you respond to users on these forums. More success to you, and stay safe.

[2020-05-01 10:20] #162 closed

[2020-05-01 23:32] zerbzman commented on #164
Hey,

So if I put `/connect/pco?custom_params%5Bforce_login%5D%3Dtrue` as my link then it didn't work and when I checked the dynamic variable it was `dynamic: { custom_params: { force_login: '' } }`

When I put `connect/pco?custom_params[force_login]=true` as my link then it worked.

[2020-05-02 05:02] simov commented on #164
Seems like a typo on my end, you shouldn't encode the equal sign, so that is correct. The browser will encode the square brackets, you can check that in the [showcase app](https://grant.outofindex.com).

If you go there and choose `google` for example, then pick a custom parameter and open up the network tab, also make sure Preserve log is checked. Then after clicking login you can check back what

[2020-05-02 15:05] zerbzman commented on #164
Awesome, thanks!

[2020-05-02 15:05] #164 closed

[2020-05-07 00:23] ALITHEALI commented on #123
Any update on this one?

[2020-05-07 00:43] millette commented on #123
@ALITHEALI no, sorry. I'm temporarily "retired". Feel free to pick it up, thanks.

[2020-05-24 15:52] kevinsimper opened #165 "session-cookie doesn't work with redirect"
It is not possible to update a cookie in a redirect, therefore if npm `cookie-session` module is used and redirect, the data is never set here:
https://github.com/simov/grant/blob/master/lib/handler/express-4.js#L45

Here is the debugger showing the data exist and it does a redirect, but the http header `set-cookie` is never done:

![image](https://user-images.githubusercontent.com/1126497/8275848

[2020-05-24 16:11] simov commented on #165
Hi @kevinsimper, the cookie-session example definitely works, you can try it yourself. Can you share your configuration and/or Express setup, might something misconfigured on your end.

[2020-05-24 16:26] kevinsimper commented on #165
I researched some more and it looks like this is the problem, the length of the cookie to be set is too long: https://github.com/pillarjs/cookies/issues/125

[2020-05-24 16:32] simov commented on #165
That makes sense, in this case try to trim down the [`response`](https://github.com/simov/grant#session-1) data that Grant is delivering. If that doesn't work then you can try using the [`state`](https://github.com/simov/grant#state) transport instead. Here is the [example](https://github.com/simov/grant/tree/master/examples/callback-state) for it. The gist of it is that you can omit the final red

[2020-05-24 17:21] kevinsimper commented on #165
That makes sense! I will do that!

[2020-05-24 17:21] #165 closed

[2020-05-24 17:24] kevinsimper opened #166 "Error handling with callback state"
I set up grant with callback state, however error handling now goes into a redirect loop:

Here is for a undefined provider:

[code]

and the code like this:
[code]

[2020-05-25 09:21] simov commented on #166
Hi @kevinsimper you found a bug! The intention was to redirect to `/` instead, but since all of my tests use the root `/` path for callback I never caught it. I'll publish the fix today.

'Missing or misconfigured provider' is considered an unrecoverable error from Grant's point of view. There is nothing you can do about it, anyone can try accessing the `/connect/:whatever` route, and so the catch

[2020-05-25 11:22] kevinsimper commented on #166
That sounds really great, thanks for the help! 😄

[2020-05-25 14:27] simov commented on #156
Fusionauth was added to the list of officially supported providers. Let me know if it works for you :+1:

[2020-05-25 14:27] #156 closed

[2020-05-25 14:53] simov commented on #166
Published in v5.1.0 :tada:

[2020-05-25 14:53] #166 closed

[2020-05-25 15:02] simov commented on #158
Hey @justinmeid, just released the support for `private_key_jwt` client authentication in v5.1.0

Now you can use the following options to control that feature:

- `token_endpoint_auth_method` - set it to `private_key_jwt`
- `token_endpoint_auth_signing_alg` - optional, defaults to `RS256`
- `private_key` - PEM string or JWK object used to sign the JWT
- `public_key` - optional, PEM string or JWK

[2020-05-26 07:02] simov commented on #99
`grant-profile` was embedded into Grant v5.1.0 and it have to be enabled as a [response option](https://github.com/simov/grant#profile) /cc @daffl

[2020-05-26 07:02] #99 closed

[2020-06-04 22:04] BigPhatNerd opened #170 "Garmin Provider"
Hey guys, total noob here, so not even sure how to do this. I am using Grant for Twitter and I went ahead and used it for Garmin as well and it did just fine. Keep up the good work. I greatly appreciate having Grant available. `oauth.json`

[code]

In my config.json file:

[code]

[2020-06-05 07:14] simov commented on #170
Thanks @BigPhatNerd, I'll add it to the list of officially supported ones :+1:

In the meantime you can define `garmin` directly in your `config.json`, no need to update anything in Grant:

[code]

[2020-06-07 07:39] eringiso opened #171 "Telegram support"
Hi came to know about this repo while using strapi
can you please add support for telegram login

[2020-06-07 20:12] simov commented on #171
I can't find any relevant information regarding OAuth and Telegram in their [API docs](https://core.telegram.org/api).

[2020-06-07 20:52] simov commented on #93
:wave: Just released v5.2.0 with support for [request options](https://github.com/simov/grant#misc-request), take a look at the [examples](https://github.com/simov/grant/tree/master/examples/request-options) as well.

[2020-06-07 20:52] #93 closed

[2020-06-08 06:02] eringiso commented on #171
here are the links that i found for the login
https://telegram.org/blog/login
https://core.telegram.org/widgets/login

[2020-06-08 06:31] simov commented on #171
I saw those too, unfortunately that doesn't look like a regular OAuth implementation to me. It looks like after you navigate to the authorization page you are being redirected back with the user response data to your server, that you can verify then.

Grant is about either OAuth 1.0a, or the `authorization_code` grant of OAuth 2.0.

[2020-06-08 06:33] simov commented on #170
Added in v5.2.0

[2020-06-08 06:33] #170 closed

[2020-06-08 12:09] eringiso commented on #171
Thanks for looking into it i'm closing this issue now

[2020-06-08 12:09] #171 closed

[2020-06-09 08:02] tiaod opened #173 "Can not get weibo profile"

[2020-06-09 09:19] #173 closed

[2020-06-10 08:40] tiaod opened #175 "QQ profile"
According to the QQ documentation, if you need to get user information, you need to get the user's openid first.
get_user_info:
https://wiki.connect.qq.com/get_user_info

get openid:
https://wiki.connect.qq.com/%E8%8E%B7%E5%8F%96%E7%94%A8%E6%88%B7openid_oauth2-0
The `content-type` returned by this API is `text/html`, but its content is jsonp, so it needs special processing.

[2020-06-22 05:18] EmmyMay commented on #128
Hi Simov. I understand this is an oauth library but are there better examples of it being used? The docs don't really make for a good example of how one would implement it because what I saw looks too simple to just be it. I'm coming from a passport background so it kinda looks too good to be true.

[2020-06-22 06:58] simov commented on #128
Hi @EmmyMay, there are a bunch of examples in the [examples](https://github.com/simov/grant/tree/master/examples) folder, and specifically to get the user profile as with Passport it is [this one](https://github.com/simov/grant/tree/master/examples/response-profile).

For all examples you can follow the readme in the main examples folder. Then based on the example folder name you can get the rest

[2020-06-24 01:18] coolalpaca opened #177 "Intuit OAuth2"
It appears that `intuit` no longer supports oauth1 (as of December 2019): https://developer.intuit.com/app/developer/qbo/docs/develop/authentication-and-authorization/oauth-1.0a

And, the domain for the url that grant is using doesn't even exist anymore - oauth.intuit.com is now oauth.platform.intuit.com.

Seems to be a straightforward fix - I'm just working on a PR. I'll submit it as soon as I ha

[2020-06-26 16:58] brunomolteni opened #178 "Can we get Expire time along with tokens ?"
Hi there, love the library! it's being so useful on a client project... my only issue is the next:

When I set response: "tokens" , I obviously get the tokens back, but no way of knowing when those tokens will expire... can we get a new option for `response`  ( could be `expiry` or `expiration` ) to get back that?

Thanks!

[2020-06-26 19:50] simov commented on #178
By default Grant returns the tokens + the `raw` key. In case you use the `response` configuration explicitly then you can allow the `raw` key to be returned like this:

[code]

Inside the `raw` key you get the raw data returned by the Authorization server. Most servers return `expires_in` key, and most of the time it's set to `3600` seconds.

The expiration of your token can be calculated like thi

[2020-06-27 11:50] simov commented on #178
Another approach is to just set `response: ['raw']` instead. The `raw` key contains everything returned from the authorization server, so you can get the tokens from there plus the expires_in key if present.

[2020-06-28 04:57] #175 closed

[2020-06-28 07:30] #158 closed

[2020-06-29 17:56] brunomolteni opened #179 "Cross-provider refresh token functionality ?"
Hi there, is there any plan on having an endpoint available to refresh expired tokens?

[2020-06-29 19:25] simov commented on #179
Not as of now, you can read more about it here https://github.com/simov/grant/issues/149

[2020-07-04 13:32] simov commented on #177
What happened, I saw your commits over [here](https://github.com/PaintScout/grant/commits/master)?

[2020-07-04 14:11] coolalpaca commented on #177
Yes indeed! I just created a PR for that!

[2020-07-10 20:29] JaneJeon commented on #123
Update: fastify v3 is out, and with it brings support for (req, res, next) middlewares. So I'm pretty sure https://github.com/simov/grant/blob/master/lib/handler/express-4.js#L19 this could work outright for fastify now.

[2020-07-11 03:43] simov commented on #123
Interesting, I'll definitely look into that :+1:

[2020-07-11 16:47] JaneJeon commented on #123
@simov btw just wanted to tell you I appreciate all the work you put into this!

[2020-07-14 08:13] nathanbrizzee commented on #93
Hi @simov , I am using @feathersjs/authentication-oauth (v 4.5.6) which uses this library.  Unfortunately, it still uses version 4.7.0 and hasn't been updated to version 5.  I've tried the Monkey Patch code and I can't get it to work no matter what I try.  I feel that since 2018 when this was written, the library has changed enough that the patch shown isn't compatible.  Is there a tweak I can do

[2020-07-14 09:29] simov commented on #93
I'm pretty sure nothing changed in Grant regarding the way the internal HTTP client is being exposed. Can you provide a short code example about initializing FeathersJS?

[2020-07-15 03:14] nathanbrizzee commented on #93
@simov, Here are  the steps to create a full Feathersjs server with Microsoft Azure OAuth (on Ubuntu 20.04).  This shows the code I tried to add to monkey patch the options variable that didn't work.

- Install the feathers generator cli with: `sudo npm install -g @feathersjs/cli`
- Create a project folder with whatever name you like: `mkdir granttest && cd granttest`
- Generate a brand new feathe

[2020-07-20 06:48] simov commented on #93
Thanks for the detailed instructions @nathanbrizzee, I really appreciate the effort you put into this.

The monkey patch have to be applied after initializing Grant, because it have to be loaded in the NPM cache in order to patch it, but the patch itself have to be loaded before any other code that relies on Grant, and therefore may potentially initialize and cache some state on their own.

Just t

[2020-07-20 07:15] tiaod opened #181 "[Feature request] Extract profile common fields"
In the current version, the profile returns the original data

Developers need to write a logic for each provider to extract general information such as username, avatar, id, email, etc.

[code]
So maybe it's better to let grant extract these common fields and keep the original data to `profile.raw`

[code]

[2020-07-20 14:07] simov commented on #181
That's a good idea, but definitely not a priority.

Having all profile URLs set and tested for all providers, plus any potential fix needed for the underlying HTTP client is a good step forward.

Also keep in mind that we're talking about 180+ providers, and for an endpoint that's largely not standardized, besides the OpenID Connect userinfo one. One thing is to support multiple OAuth implementati

[2020-07-21 16:18] petersg83 opened #182 "Bad url when using multiple providers"
Hi :)

I have an app with multiple provider buttons for login (github and google for instance).
1. If I open a private session and try google it works.
2. If I open a private session and try github it works.
3. If I open a private session and try google, then logout, then try github: it fails for github.
4. If I open a private session and try github, then logout, then try google: it fails for goog

[2020-07-21 17:08] petersg83 commented on #182
A one point I was making the requests from `localhost` instead of `https://75fa70e635a9.ngrok.io`. I think that's made a 2 sessions in parallel, thus my problem :)

[2020-07-21 17:08] #182 closed

[2020-07-21 23:19] nathanbrizzee commented on #93
Hi @simov , Thanks for the write-up!  I copied your code into index.js as you showed.  It worked for the first two login send.js calls (login.microsoftonline.com) but the third call (graph.microsoft.com) didn't receive the patch (in send.js) so it timed out on the call.  I tried if a few times debugging along the way.  Not sure why the first two calls get patched and the third call doesn't get pat

[2020-07-22 06:51] simov commented on #93
I see, I totally forgot about the grant-profile request. Unfortunately that's going to be impossible to monkey patch because request-profile wraps the call to the request-compose `extend` method. I intentionally made it so that monkey patching is impossible once the `extend` method was called, because that can lead to really hard to debug issues, and generally unexpected behavior.

Patching reques

[2020-07-24 13:58] duydao opened #183 "Change signature method"
Hi,

I'm trying to conncet to our local jira/confluence servers using Grant. There seems to be no way to change the signature method to RSA-SHA1, which is required by the oauth 1.0a servers.

I've managed to modify the oauth1.js in order to add support for the custo provider. Is there another way to achieve this without messing with the npm package files?

[2020-07-24 14:38] simov commented on #183
No, that's not exposed, but it looks like support for it should be straightforward to add, because Grant already accepts a `private_key` configuration key, so probably switching to `RSA-SHA1` in that case would solve it.

I'll try to get the Jira integration working over the weekend, and I'll let you know.

[2020-07-26 16:16] simov commented on #183
Fixed here https://github.com/simov/grant/commit/d83126dace86270ca572a55dd9b9f56c694f669a, no tests yet, but it works.

Here is an example configuration:

[code]

Note that you can pass your `private_key` as raw Buffer using the [dynamic state](https://github.com/simov/grant#dynamic-state), here is an [example](https://github.com/simov/grant/tree/master/examples/dynamic-state).

This will go in th

[2020-07-28 18:51] duydao commented on #183
Youre awesome, thanks alot @simov

[2020-07-28 18:51] #183 closed

[2020-07-29 06:04] delaneyj commented on #123
@simov I am also highly interested in this integration.  I noticed the [npm registry entry](https://www.npmjs.com/package/grant-fastify) but with no content and pointing at v5.3.0 which doesn't seem to have tags in github.  Also when I tried to use `fastify-express` and the express middleware I get
[code]
which I'm not sure if its a grant issue or fastify-express.  I am using `fastify-secure-sessi

[2020-07-29 09:48] simov commented on #123
@delaneyj I published all those names to reduce potential confusion in future, but as it turns out I confused people instead ..

So there will be a Fastify handler for Grant, and I wasn't sure if I'll be able to do it in the next release v5.3.0 or not. Now it seems most likely to land in v5.4.0 instead.

Also note that the grant-* handler modules doesn't serve any purpose other than looking nicer

[2020-08-02 17:42] simov commented on #177
Resolved in #180

[2020-08-02 17:42] #177 closed

[2020-08-04 13:27] khalilnafis opened #185 "Session details lost after redirect from keycloak"
Receiving the following error: error=Grant: missing session or misconfigured provider

The provider (keycloak) is configured successfully via Strapi, however in the callback /connect/keycloak there are missing session details:

`{
  method: 'GET',
  params: { provider: 'keycloak' },
  query: {},
  body: {},
  state: {},
  session: {
    provider: 'keycloak',
    state: undefined,
    nonce: undefi

[2020-08-04 19:26] simov commented on #185
Can you post your configuration here? Also probably a short example on how to reproduce this in Strapi would be helpful.

[2020-08-04 20:45] adamsea opened #186 "Remove dynamic parameters stored in session on subsequent auth"
Hello,

I had a question about an issue that I'm experiencing with Grant right now (using grant-express 4.5.2, but it appears to function the same way in 5.x) ... when I authenticate to a `/connect` based endpoint that has been configured to use `dynamic` parameters, they will be properly stored into the session. However, on subsequent auth requests to other providers, the `dynamic` config sticks

[2020-08-05 04:27] simov commented on #186
Hi @adamsea, thanks for the question.

First of all the lingering values you are mentioning are not present on `/connect`:

https://github.com/simov/grant/blob/34e202267c250c6bab1d34fde172efc6a1bc343d/lib/request.js#L14

What this tells us is that unless you are accessing the `redirect_uri` you start with a fresh empty session on `/connect`.

That being said at some point I had the idea of reusing

[2020-08-05 14:13] simov commented on #186
The easiest way to test this is as follows:

1. Navigate to the `examples/handler-express`
2. Set your `key` and `secret` for Google in `config.json`, your app's redirect URI should be `http://localhost:3000/connect/google/callback`, also add `dynamic: ['state']` for Google to enable Dynamic Override
3. In `express-session.js` print the entire `req.session.grant` object instead
4. `npm install` an

[2020-08-05 16:11] adamsea commented on #186
Hi @simov, thank you for the update! Yes that totally makes sense, and yes the connect URLs were coming out just fine. I did confirm that I'm in a version (4.5.2) where `req.session.grant` is being reused in the express handler initialization:
https://github.com/simov/grant/blob/v4.5.2/lib/consumer/express.js#L27

So I'll try updating to 4.7.0, and I'll let you know if I have any questions! Thanks

[2020-08-09 12:15] simov commented on #183
Just published v5.3.0 with the fix :tada:

[2020-08-14 17:07] edwardsmarkf opened #187 "how to logout?"
hello -

i seem to recall we could log out using grant by doing something like this:

https://mydomain.com/connect/google/logout
--or--
https://mydomain.com/google/logout

is there a recommended way to log out?  i apologize if this has already been covered, but i am unable to find it.

[2020-08-15 02:18] edwardsmarkf commented on #187
this looks VERY promising:    https://stackoverflow.com/questions/51946456/how-to-delete-connect-sid-from-cookie

[code]

[2020-08-15 04:47] simov commented on #187
Grant intentionally does not cleanup the session store data and cookie, so that you can have control over it. Depending on the session store that you use you can cleanup the data stored in your database and set the cookie to empty string with maxAge set to 0. That will end the session when the user closes the browser.

There might be other ways to do it, but that's definitely not built into Grant.

[2020-08-16 16:12] edwardsmarkf commented on #187
thank you once again, Simov.  i am still unable to come up with any sort of actual way to completely log out, but i have turned the question over to the feathers developers and will see what they suggest:

-----------
**Please share the issue you're having and any relevant information.:**
i am never quite able to get logout to behave the way i believe it should. if i manually delete all the cookie

[2020-08-16 17:05] simov commented on #187
Not sure about your actual setup, so I can't really tell what's going on.

I prefer not having provider specific examples here, as this module strives to be generic. I will be interested in seeing what you come up with though if you feel like sharing it in any other form.

Just to clarify, Grant just happens to use a session while executing the OAuth flow. The reason being is that cookies and sess

[2020-08-16 17:39] edwardsmarkf commented on #187
hi simov - and once again, thank you for your comments.

if you would like to have a look:   https://comptonpeslonline.com/proxyPort20004/  (i will leave the server running)

my problem (besides being "technically challenged" and overly handsome) is that when a user accidentally (yet successfully) logs in using an incorrect email address, they need to either reboot or at least close that browser s

[2020-08-19 08:55] talivodworks opened #188 "Subsequent Request Cause State Mismatch when user is not logged in."
Hello There!
Please take a look at [this stackoverflow](https://stackoverflow.com/questions/63448921/grant-provider-oauth-state-mismatch-when-accessing-the-two-application-modules-s) question and let me know what I am doing wrong. Is this the right way to achieve what I am trying to do. Any help Or Suggestion would be very greatful.

Thank You..

[2020-08-21 04:56] edwardsmarkf commented on #187
hi Simov - i cannot remember if you wanted to know this or not, but i hired a couple of guys from Feathers to solve the issue.  it seems with Auth0 we have to call their own specific "logout" page.  its weird, but i actually sort of remember that from doing something similar on PHP.   in case you are interested:

`(async () => { try { await feathersApp.logout(); window.location='https://dev-2XXXXX

[2020-08-21 04:56] #187 closed

[2020-08-24 12:00] simov commented on #188
See my answer on [StackOverflow](https://stackoverflow.com/a/63534284/1260020)

[2020-08-24 12:00] #188 closed

[2020-08-26 10:45] #185 closed

[2020-08-26 10:47] simov commented on #186
Closing for now, feel free to add more details here.

[2020-08-26 10:47] #186 closed

[2020-08-26 18:35] calvinl commented on #123
@simov thank you for your hard work with this package? Just wanted to ask if you have an estimate for 5.4.0 with fastify handlers? Really looking forward to that :) Happy to help test out also.

[2020-08-26 19:32] adamsea commented on #186
I'm all set here - I upgraded to 4.7.0 last week and that solved the problem. Thanks again!

[2020-08-27 04:10] simov commented on #123
Hi @calvinl, thanks for your interest. It's scheduled for the end of next month at most, meaning end of September, but it can be earlier than that too. Note that I'm planning to support the latest Fastify major only.

[2020-08-27 12:17] calvinl commented on #123
@simov thats awesome, thank you! Please let me know if I can pitch in in any way.

[2020-08-29 05:01] simov commented on #123
The Fastify handler for Grant is ready, though you still have to wait a little bit more before its official release.

So in the meantime you can add it to your `package.json` like this:

[code]

And then you register it as a regular plugin:

[code]

You can see all the relevant examples here:

- [handler-fastify](https://github.com/simov/grant/blob/master/examples/handler-fastify/fastify-session.j

[2020-09-01 04:44] simov commented on #123
Change in plans again, decided to release v5.4.0 today :tada:

Initially I was planning to include some other stuff in this release but as it turned out that's going to require a bit more research on my end, so no point in holding the Fastify handler back.

Thanks for your patience :+1:

[2020-09-01 04:44] #123 closed

[2020-09-08 17:16] JiboStore opened #189 "No config for cognito"
Hi, first of all thank you very much for publishing this awesome library

I am using this through Strapi as I need to integrate with AWS Cognito User Pool, I've been modifying their code to try to make it work, however, the configuration for cognito isn't available either in Strapi, Grant, or Grant's Provider Config.

I've been searching and shooting blindly for the config and managed to get the l

[2020-09-08 18:37] simov commented on #189
Hi @JiboStore, make sure you pass the correct scopes when trying to login.

Here is what I have as available scopes for `cognito` in the showcase app:

[code]

Usually it is the `openid` scope that is needed, but you can try requesting any or all of them to see which one grants access to the user endpoint.

[2020-09-11 05:41] biswajitdas opened #190 "AWS API+Lambda oauth issue"
Hi,

We were not able to configure Google OAUTH.
Nodejs Version : 12
Config Used
[code]

Issues found at first
1. No value found on `event.requestContext.path` so made `event.requestContext.path = event.rawPath;` at lambda.
2. No value found on `event.httpMethod` so made `event.httpMethod = event.requestContext.http.method;` at lambda.

After then it went ahead. But then got stuck in session and g

[2020-09-11 06:11] simov commented on #190
It's because you are using the Event v2 Format.

I'll have a look at it, but in the meantime can you pick the old v1 instead when configuring your gateway?

[2020-09-11 08:43] biswajitdas commented on #190
I am not sure how to do that? Does AWS Support that?

[2020-09-11 08:49] biswajitdas commented on #190
Ok, I will try that.
Thanks.

[2020-09-11 19:48] biswajitdas commented on #190
Thanks, V1 event worked for me.

[2020-09-11 19:48] #190 closed

[2020-09-11 21:04] biswajitdas opened #191 "Is there anyway to find that we have a success or error or final callback?"
Hi,
Is there anyway to find the final callback?

Thanks.

[2020-09-12 06:02] simov commented on #191
Yes, have a look at the [response data](https://github.com/simov/grant#callback-data) structure. If the OAuth flow failed the `error` key will be present, otherwise it was a success.

[2020-09-12 14:23] biswajitdas commented on #191
Thanks, Actually I wanted know, whether it is in last redirect or not.

[2020-09-12 14:31] simov commented on #191
In any case you will receive either `error` or the expected response data. If the error occurred during the authorization step, for example the authorization server returned an error or the user denied access, then you will see that error. If the error occurs on later stages of the OAuth flow, then you will see that other error instead.

Grant returns specific error messages only for known errors.

[2020-09-12 14:37] biswajitdas opened #192 "Aws Implementation Issue with Custom domain with path"
I am trying to use same custom domain name for stage and production separated by path but Grant is failing in that case. example

[code]

Settings used for prod
[code]

Settings used for prod
[code]
Event version used : 1.0

What did I see?
[code]

I saw in grant library it always expects that to be `'/prod/google'` for `requestContext.path`. As of now I am overriding that value inside from my scr

[2020-09-12 15:06] simov commented on #192
Seems like another edge case for the input event data structure. I have to re-create that setup on my end in order to test it properly.

[2020-09-14 08:11] biswajitdas commented on #191
Actually in my config I have "callback": "https://www.domain.name/login" and I am generating an unique id to pass the details to make them login. For that I am generating unique url for callback "https://www.domain.name/login/1234-4567-789".
How can I do that?

[2020-09-14 09:06] simov commented on #192
Just released v5.4.1 where all of this should be fixed.

Here are the tests that I did:

Default domain with Grant prefix `/dev/connect`:

[code]

Custom domain without custom path mapping with Grant prefix `/connect`:

[code]

Custom domain with custom path mapping with Grant prefix `/v1/connect`:

[code]

Note that I also added support for Event v2, so you can use that as well. However, I found

[2020-09-14 09:06] simov commented on #190
Event v2 support added in Grant v5.4.1 see https://github.com/simov/grant/issues/192#issuecomment-691924556

[2020-09-14 09:10] simov commented on #191
Not sure I understand the question.

[2020-09-17 09:00] simov commented on #192
Pushed another fix in v5.4.2 with a bit more streamlined [path matching logic](https://github.com/simov/grant-aws#routes).

[2020-09-21 06:14] simov commented on #189
Let me know if you have any other issues.

[2020-09-21 06:14] #189 closed

[2020-09-21 06:15] simov commented on #191
Let me know if you have any other issues.

[2020-09-21 06:15] #191 closed

[2020-09-21 06:15] #192 closed

[2020-09-21 20:09] Lith opened #193 "[Help] Example of Apple SignIn implementation with POST_FORM"
Hi 😄 ,

I've would like to implement Apple SignIn authentication with Grant + Purest, but I'm unable to find great configuration with Purest (not update since 4 years with latest providers like 'Apple')

`Grant` is unable to read POST_FORM `access_token` and it's return `oAuth2 missing code parameter` error.

Grant config (not sure about this)
[code]

Purest configuration testing :
[code]

I've su

[2020-09-22 06:02] simov commented on #193
Hi @Lith, lets get Grant working first. As far as I understand you are not able to get an access_token for Apple? Can you check this https://github.com/simov/grant/pull/167#issuecomment-638292802 and see if it works for you. You have to generate the client secret in order to login.

Let me know if it works for you.

[2020-09-22 10:08] Lith commented on #193
Hi @simov,

Yes, I've implemented this function, but it's require in step2 (after called `auth/authorize` that return the `code`).
The `code` return by Apple, is not read by Grant because it's send in POST in Form-Data and not in GET response params.

Not sure if I'm clear about that...
But the generated token is require after, and this process is working well.

Which default configuration are you

[2020-09-22 10:58] simov commented on #193
I see, seems like I never got around implementing it in Grant .. it should be an easy fix, but you'll have to wait a little bit, I'll let you know when it's done.

As for the Purest config, you shouldn't be doing the last request of the OAuth flow manually, that's what this module is for. Otherwise your Purest config looks ok.

[2020-09-23 06:55] simov commented on #193
Published the fix in `v5.4.4`, however in case you are using Strapi you have to go there and ask them to bump the dependency version, because it seems that they have pinned it down to [5.2.0](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/package.json#L17) for some reason, and they won't receive the patch automatically.

Let me know if it works for you.

[2020-09-23 07:27] Lith commented on #193
Thank you @simov ! I will test it right now 👍

I'm using a "custom" version of Strapi, I will be able to update it on latest release :)

[2020-10-01 17:38] grandopener commented on #178
Additionally, many services return a json web token as the access token.  If you're using one of those services, you can skip the calculation by decoding the jwt and reading the expires timestamp directly.  (In practice this doesn't matter much, since you'll want to refresh a couple minutes early to avoid getting messed up by skewed clocks or transport time.)

[2020-10-01 18:08] carycodes opened #194 "How to configure a custom url for unrecoverable errors like unsupported providers?"
Issue #166 briefly discusses how unrecoverable errors are redirected to the origin with a query string parameter, and not even the values in `defaults` are loaded.  In my case the root endpoint is already busy for legacy reasons, and it's not really acceptable to add oauth error handling as a special case there.  For the time being I'm using a small custom middleware in front of grant to pre-verif

[2020-10-01 19:51] simov commented on #194
Hi @grandopener, thanks for your feedback. I think that's a totally valid use case. Probably a special case for that type of error to check for either the `transport` or the `callback` being set inside the `defaults` would solve this. Generally that's against the overall design about how the configuration works, but I already have 2 special cases for the `defaults` key so I think it would fit nice

[2020-10-04 14:03] simov commented on #194
I was thinking about possible ways to resolve this, and so here is a little bit of background about why redirecting to the root `/` path by default was chosen.

Basically this is the safest way to throw an error without making any assumptions about the environment setup. Changing the default now may introduce timeouts and potentially server crashes for clients that are not ready to handle those er

[2020-10-04 14:42] simov commented on #193
Let me know if you have any other issues with this.

[2020-10-04 14:42] #193 closed

[2020-10-07 20:09] grandopener commented on #194
I am using express; good guess.  I've implemented a monkey patch like you suggest and it works well for my situation.  (In my case it's most convenient to respond to the client directly in the error path for the redirect override.). I'm using TypeScript so I had to jump through a couple extra hoops to make the signature for redirect work, but nothing too onerous.

I think this is an acceptable sol

[2020-10-07 23:58] vicb opened #198 "Error with Express 4. and Google: redirect_uri is not provided"
I see an error `Missing required parameter: redirect_uri` with Express 4 and google.

I have created a simple repro at https://runkit.com/vicb/grant

Click on the "endpoint". You should see the "connect" link.

When clicking on it, you should have the error.

![image](https://user-images.githubusercontent.com/248818/95399958-3cb16800-08be-11eb-8274-af7ef53848aa.png)

[2020-10-08 04:27] vicb commented on #198
My bad.
`default` should be `defaults` in the config.
Changing this makes everything works as expected !

Thanks for this awesome lib.

[2020-10-08 04:27] #198 closed

[2020-10-09 05:18] vicb opened #199 "Error with the Google Oauth provider, need help to debug."
I thought everything was finally working until I tried to login from an incognito window.

My app is at flyxc.app
Grant is mounted on oauth
You can see [my config](https://github.com/vicb/flyxc/blob/master/app/src/server.ts#L43-L61) and the [express server](https://github.com/vicb/flyxc/blob/master/app/src/server.ts#L22) on github.

So the first time I tried to authenticate, I have:

`Request URL:

[2020-10-09 05:54] vicb commented on #199
A few thing I have tried:

Use the same express settings as in the example:
`  .use(session({secret: 'grant', saveUninitialized: true, resave: false}))`
The outcome is the same.

Try to get debug traces by running `DEBUG=req,res,json node app/server.js`.

There is **absolutely no traces** on the first attempt.

Seconds attempt looks good:

[code]

No traces on the first attempt looks weird ?

[2020-10-09 06:00] vicb commented on #199
[The playground](https://grant.outofindex.com/) seems to works ok.

It could be either a different config or a different framework... or more likely some error on my side !

[2020-10-09 06:08] simov commented on #199
A few things to note here:

1. Grant redirects to `/` by default when it cannot load a provider, see [here](https://github.com/simov/grant/issues/194)
2. DEBUG can log only requests happening on the server, the authorization step is done in the browser

My only assumption right now is that for some reason the session is not being loaded when you get back to the redirect URL `/oauth/google/callback

[2020-10-09 06:16] vicb commented on #199
Could you please point me to what point in the code I should check that ?
I will also try to add DEBUG trace for redis to see if I'm trying to read something.

[2020-10-09 06:33] simov commented on #199
You can put a simple handler before grant:

[code]

This will tell you what's loaded inside the session before entering the Grant handler. If that key is missing or empty, or otherwise the data inside the session does not match the `:provider` from the path, then Grant will redirect you to `/` with a generic error message:

[code]

[2020-10-09 06:35] vicb commented on #199
Yep there is definitely something fishy with the session:

`$ DEBUG=req,express-session,ioredis:* node app/server.js `

Before connection:
[code]
  express-session saving .... +1ms
  ioredis:redis write command[35.224.153.24:18918]: 0 -> set('sess:mDolhG5ItZcx8_...,{"cookie":{"originalMaxAge":null,"expires":null,"secure":false,"httpOnly":true,"path":"/","sameSite":true},"grant":{"provider":"google